$pcolor: red;
body {
  font-family: "Malgun Gothic", "Apple SD Gothic";
}
@mixin 이미지테두리($값) {
  position: relative;
  overflow: hidden;
  display: block;
  border-radius: 100%;
  width: $값;
  height: $값;
  border: solid 4px red;
}

@mixin sprite-width-2x($sprite) {
  width: nth($sprite, 5) / 2;
}
@mixin sprite-width-2x-d($sprite) {
  width: nth($sprite, 5) / 2;
}
@mixin sprite-left($sprite) {
  margin-left: nth($sprite, 5) / 2;
}
@mixin sprite-left-d($sprite) {
  margin-left: nth($sprite, 5) / 2;
}
@mixin sprite-height-2x($sprite) {
  height: nth($sprite, 6) / 2;
}
@mixin sprite-height-2x-d($sprite) {
  height: nth($sprite, 6) / 2;
}
@mixin sprite-position-2x($sprite) {
  $sprite-offset-x: nth($sprite, 3) / 2;
  $sprite-offset-y: nth($sprite, 4) / 2;
  background-position: convertPx($sprite-offset-x, $sprite-offset-y);
}
@mixin sprite-position-2x-d($sprite) {
  $sprite-offset-x: nth($sprite, 3) / 2;
  $sprite-offset-y: nth($sprite, 4) / 2;
  background-position: convertPx($sprite-offset-x, $sprite-offset-y);
}
// 0px > 0 으로 치환하기
@function convertPx($sprite-offset-x, $sprite-offset-y) {
  @if ($sprite-offset-x == 0px) {
    $sprite-offset-x: 0;
  }
  @if ($sprite-offset-y == 0px) {
    $sprite-offset-y: 0;
  }
  @return $sprite-offset-x $sprite-offset-y;
}

@mixin sprite-2x($sprite) {
  @include sprite-image($sprite);
  @include sprite-position-2x($sprite);
  @include sprite-width-2x($sprite);
  @include sprite-height-2x($sprite);
  background-size: $spritesheet-width / 2 auto;
}
@mixin sprite-2x-d($sprite) {
  @include sprite-image-d($sprite);
  @include sprite-position-2x-d($sprite);
  @include sprite-width-2x-d($sprite);
  @include sprite-height-2x($sprite);
  background-size: $spritesheet-width-d / 2 auto;
}
// 레티나 이미지 배경처리
// .n1{@include ir2($btn-pltaos);}

@mixin ir2($sprite) {
  background: none;
  @include sprite-2x($sprite);
  color: transparent;
  font-size: 9px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}

@mixin ir2-d($sprite) {
  background: none;
  @include sprite-2x-d($sprite);
  color: transparent;
  font-size: 9px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}

// 레티나 배경이미지 상하 중앙 정렬
@mixin ir2-center($sprite) {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -nth($sprite, 5) / 4;
  margin-top: -nth($sprite, 6) / 4;
}
// 멀티줄임말
@mixin ell($n) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  -webkit-line-clamp: $n;
}
// 속성애니매이션
@mixin ani($s) {
  -webkit-transition: all $s;
  transition: all $s;
}

// CSS 삼각형 만들기
@mixin arrow($direction, $size, $color) {
  width: 0;
  height: 0;
  vertical-align: middle;
  display: inline-block;
  @if $direction == "up" {
    border-left: #{$size}px solid transparent;
    border-right: #{$size}px solid transparent;
    border-bottom: #{$size}px solid $color;
  } @else if $direction == "down" {
    border-left: #{$size}px solid transparent;
    border-right: #{$size}px solid transparent;
    border-top: #{$size}px solid $color;
  } @else if $direction == "right" {
    border-top: #{$size}px solid transparent;
    border-bottom: #{$size}px solid transparent;
    border-left: #{$size}px solid $color;
  } @else if $direction == "left" {
    border-top: #{$size}px solid transparent;
    border-bottom: #{$size}px solid transparent;
    border-right: #{$size}px solid $color;
  }
}
$국민의힘: #e61e2b;
$더불어민주당: #0c69b4;
$국민의당: #e35204;
$무소속: #898a8e;
$정의당: #ffc800;
$열린민주당: #000;
$더불어시민당: rgb(109, 153, 194);
$시대전환: rgb(165, 3, 187);
$기본소득당: rgb(99, 181, 187);

.hm1 {
  @include ir2($hm1);
}
.hm2 {
  @include ir2($hm2);
}
.hm3 {
  @include ir2($hm3);
}
.hm4 {
  @include ir2($hm4);
}
.hm5 {
  @include ir2($hm5);
}
.hm6 {
  @include ir2($hm6);
}
.hm7 {
  @include ir2($hm7);
}
.hm8 {
  @include ir2($hm8);
}
.hm9 {
  @include ir2($hm9);
}
.hm10 {
  @include ir2($hm10);
}
.hm11 {
  @include ir2($hm11);
}
.hm12 {
  @include ir2($hm12);
}
.hm13 {
  @include ir2($hm13);
}
.hm14 {
  @include ir2($hm14);
}
.hm15 {
  @include ir2($hm15);
}
.hm16 {
  @include ir2($hm16);
}
.hm17 {
  @include ir2($hm17);
}
.hm18 {
  @include ir2($hm18);
}
.hm19 {
  @include ir2($hm19);
}
.hm20 {
  @include ir2($hm20);
}
.hm21 {
  @include ir2($hm21);
}
.hm22 {
  @include ir2($hm22);
}
.hm23 {
  @include ir2($hm23);
}
.hm24 {
  @include ir2($hm24);
}
.hm25 {
  @include ir2($hm25);
}
.hm26 {
  @include ir2($hm26);
}
.hm27 {
  @include ir2($hm27);
}
.hm28 {
  @include ir2($hm28);
}
.hm29 {
  @include ir2($hm29);
}
.hm30 {
  @include ir2($hm30);
}
.hm31 {
  @include ir2($hm31);
}
.hm32 {
  @include ir2($hm32);
}
.hm33 {
  @include ir2($hm33);
}
.hm34 {
  @include ir2($hm34);
}
.hm35 {
  @include ir2($hm35);
}
.hm36 {
  @include ir2($hm36);
}
.hm37 {
  @include ir2($hm37);
}
.hm38 {
  @include ir2($hm38);
}
.hm39 {
  @include ir2($hm39);
}
.hm40 {
  @include ir2($hm40);
}
.hm41 {
  @include ir2($hm41);
}
.hm42 {
  @include ir2($hm42);
}
.hm43 {
  @include ir2($hm43);
}
.hm44 {
  @include ir2($hm44);
}
.hm45 {
  @include ir2($hm45);
}
.hm46 {
  @include ir2($hm46);
}
.hm47 {
  @include ir2($hm47);
}
.hm48 {
  @include ir2($hm48);
}
.hm49 {
  @include ir2($hm49);
}
.hm50 {
  @include ir2($hm50);
}
.hm51 {
  @include ir2($hm51);
}
.hm52 {
  @include ir2($hm52);
}
.hm53 {
  @include ir2($hm53);
}
.hm54 {
  @include ir2($hm54);
}
.hm55 {
  @include ir2($hm55);
}
.hm56 {
  @include ir2($hm56);
}
.hm57 {
  @include ir2($hm57);
}
.hm58 {
  @include ir2($hm58);
}
.hm59 {
  @include ir2($hm59);
}
.hm60 {
  @include ir2($hm60);
}
.hm61 {
  @include ir2($hm61);
}
.hm62 {
  @include ir2($hm62);
}
.hm63 {
  @include ir2($hm63);
}
.hm64 {
  @include ir2($hm64);
}
.hm65 {
  @include ir2($hm65);
}
.hm66 {
  @include ir2($hm66);
}
.hm67 {
  @include ir2($hm67);
}
.hm68 {
  @include ir2($hm68);
}
.hm69 {
  @include ir2($hm69);
}
.hm70 {
  @include ir2($hm70);
}
.hm71 {
  @include ir2($hm71);
}
.hm72 {
  @include ir2($hm72);
}
.hm73 {
  @include ir2($hm73);
}
.hm74 {
  @include ir2($hm74);
}
.hm75 {
  @include ir2($hm75);
}
.hm76 {
  @include ir2($hm76);
}
.hm77 {
  @include ir2($hm77);
}
.hm78 {
  @include ir2($hm78);
}
.hm79 {
  @include ir2($hm79);
}
.hm80 {
  @include ir2($hm80);
}
.hm81 {
  @include ir2($hm81);
}
.hm82 {
  @include ir2($hm82);
}
.hm83 {
  @include ir2($hm83);
}
.hm84 {
  @include ir2($hm84);
}
.hm85 {
  @include ir2($hm85);
}
.hm86 {
  @include ir2($hm86);
}
.hm87 {
  @include ir2($hm87);
}
.hm88 {
  @include ir2($hm88);
}
.hm89 {
  @include ir2($hm89);
}
.hm90 {
  @include ir2($hm90);
}
.hm91 {
  @include ir2($hm91);
}
.hm92 {
  @include ir2($hm92);
}
.hm93 {
  @include ir2($hm93);
}
.hm94 {
  @include ir2($hm94);
}
.hm95 {
  @include ir2($hm95);
}
.hm96 {
  @include ir2($hm96);
}
.hm97 {
  @include ir2($hm97);
}
.hm98 {
  @include ir2($hm98);
}
.hm99 {
  @include ir2($hm99);
}
.hm100 {
  @include ir2($hm100);
}
.hm101 {
  @include ir2($hm101);
}
.hm102 {
  @include ir2($hm102);
}
.hm103 {
  @include ir2($hm103);
}
.hm104 {
  @include ir2($hm104);
}
.hm105 {
  @include ir2($hm105);
}
.hm106 {
  @include ir2($hm106);
}
.hm107 {
  @include ir2($hm107);
}
.hm108 {
  @include ir2($hm108);
}
.hm109 {
  @include ir2($hm109);
}
.hm110 {
  @include ir2($hm110);
}
.hm111 {
  @include ir2($hm111);
}
.hm112 {
  @include ir2($hm112);
}
.hm113 {
  @include ir2($hm113);
}
.hm114 {
  @include ir2($hm114);
}
.hm115 {
  @include ir2($hm115);
}
.hm116 {
  @include ir2($hm116);
}
.hm117 {
  @include ir2($hm117);
}
.hm118 {
  @include ir2($hm118);
}
.hm119 {
  @include ir2($hm119);
}
.hm120 {
  @include ir2($hm120);
}
.hm121 {
  @include ir2($hm121);
}
.hm122 {
  @include ir2($hm122);
}
.hm123 {
  @include ir2($hm123);
}
.hm124 {
  @include ir2($hm124);
}
.hm125 {
  @include ir2($hm125);
}
.hm126 {
  @include ir2($hm126);
}
.hm127 {
  @include ir2($hm127);
}
.hm128 {
  @include ir2($hm128);
}
.hm129 {
  @include ir2($hm129);
}
.hm130 {
  @include ir2($hm130);
}
.hm131 {
  @include ir2($hm131);
}
.hm132 {
  @include ir2($hm132);
}
.hm133 {
  @include ir2($hm133);
}
.hm134 {
  @include ir2($hm134);
}
.hm135 {
  @include ir2($hm135);
}
.hm136 {
  @include ir2($hm136);
}
.hm137 {
  @include ir2($hm137);
}
.hm138 {
  @include ir2($hm138);
}
.hm139 {
  @include ir2($hm139);
}
.hm140 {
  @include ir2($hm140);
}
.hm141 {
  @include ir2($hm141);
}
.hm142 {
  @include ir2($hm142);
}
.hm143 {
  @include ir2($hm143);
}
.hm144 {
  @include ir2($hm144);
}
.hm145 {
  @include ir2($hm145);
}
.hm146 {
  @include ir2($hm146);
}
.hm147 {
  @include ir2($hm147);
}
.hm148 {
  @include ir2($hm148);
}
.hm149 {
  @include ir2($hm149);
}
.hm150 {
  @include ir2($hm150);
}
.hm151 {
  @include ir2($hm151);
}
.hm152 {
  @include ir2($hm152);
}
.hm153 {
  @include ir2($hm153);
}
.hm154 {
  @include ir2($hm154);
}
.hm155 {
  @include ir2($hm155);
}
.hm156 {
  @include ir2($hm156);
}
.hm157 {
  @include ir2($hm157);
}
.hm158 {
  @include ir2($hm158);
}
.hm159 {
  @include ir2($hm159);
}
.hm160 {
  @include ir2($hm160);
}
.hm161 {
  @include ir2($hm161);
}
.hm162 {
  @include ir2($hm162);
}
.hm163 {
  @include ir2($hm163);
}
.hm164 {
  @include ir2($hm164);
}
.hm165 {
  @include ir2($hm165);
}
.hm166 {
  @include ir2($hm166);
}
.hm167 {
  @include ir2($hm167);
}
.hm168 {
  @include ir2($hm168);
}
.hm169 {
  @include ir2($hm169);
}
.hm170 {
  @include ir2($hm170);
}
.hm171 {
  @include ir2($hm171);
}
.hm172 {
  @include ir2($hm172);
}
.hm173 {
  @include ir2($hm173);
}
.hm174 {
  @include ir2($hm174);
}
.hm175 {
  @include ir2($hm175);
}
.hm176 {
  @include ir2($hm176);
}
.hm177 {
  @include ir2($hm177);
}
.hm178 {
  @include ir2($hm178);
}
.hm179 {
  @include ir2($hm179);
}
.hm180 {
  @include ir2($hm180);
}
.hm181 {
  @include ir2($hm181);
}
.hm182 {
  @include ir2($hm182);
}
.hm183 {
  @include ir2($hm183);
}
.hm184 {
  @include ir2($hm184);
}
.hm185 {
  @include ir2($hm185);
}
.hm186 {
  @include ir2($hm186);
}
.hm187 {
  @include ir2($hm187);
}
.hm188 {
  @include ir2($hm188);
}
.hm189 {
  @include ir2($hm189);
}
.hm190 {
  @include ir2($hm190);
}
.hm191 {
  @include ir2($hm191);
}
.hm192 {
  @include ir2($hm192);
}
.hm193 {
  @include ir2($hm193);
}
.hm194 {
  @include ir2($hm194);
}
.hm195 {
  @include ir2($hm195);
}
.hm196 {
  @include ir2($hm196);
}
.hm197 {
  @include ir2($hm197);
}
.hm198 {
  @include ir2($hm198);
}
.hm199 {
  @include ir2($hm199);
}
.hm200 {
  @include ir2($hm200);
}
.hm201 {
  @include ir2($hm201);
}
.hm202 {
  @include ir2($hm202);
}
.hm203 {
  @include ir2($hm203);
}
.hm204 {
  @include ir2($hm204);
}
.hm205 {
  @include ir2($hm205);
}
.hm206 {
  @include ir2($hm206);
}
.hm207 {
  @include ir2($hm207);
}
.hm208 {
  @include ir2($hm208);
}
.hm209 {
  @include ir2($hm209);
}
.hm210 {
  @include ir2($hm210);
}
.hm211 {
  @include ir2($hm211);
}
.hm212 {
  @include ir2($hm212);
}
.hm213 {
  @include ir2($hm213);
}
.hm214 {
  @include ir2($hm214);
}
.hm215 {
  @include ir2($hm215);
}
.hm216 {
  @include ir2($hm216);
}
.hm217 {
  @include ir2($hm217);
}
.hm218 {
  @include ir2($hm218);
}
.hm219 {
  @include ir2($hm219);
}
.hm220 {
  @include ir2($hm220);
}
.hm221 {
  @include ir2($hm221);
}
.hm222 {
  @include ir2($hm222);
}
.hm223 {
  @include ir2($hm223);
}
.hm224 {
  @include ir2($hm224);
}
.hm225 {
  @include ir2($hm225);
}
.hm226 {
  @include ir2($hm226);
}
.hm227 {
  @include ir2($hm227);
}
.hm228 {
  @include ir2($hm228);
}
.hm229 {
  @include ir2($hm229);
}
.hm230 {
  @include ir2($hm230);
}
.hm231 {
  @include ir2($hm231);
}
.hm232 {
  @include ir2($hm232);
}
.hm233 {
  @include ir2($hm233);
}
.hm234 {
  @include ir2($hm234);
}
.hm235 {
  @include ir2($hm235);
}
.hm236 {
  @include ir2($hm236);
}
.hm237 {
  @include ir2($hm237);
}
.hm238 {
  @include ir2($hm238);
}
.hm239 {
  @include ir2($hm239);
}
.hm240 {
  @include ir2($hm240);
}
.hm241 {
  @include ir2($hm241);
}
.hm242 {
  @include ir2($hm242);
}
.hm243 {
  @include ir2($hm243);
}
.hm244 {
  @include ir2($hm244);
}
.hm245 {
  @include ir2($hm245);
}
.hm246 {
  @include ir2($hm246);
}
.hm247 {
  @include ir2($hm247);
}
.hm248 {
  @include ir2($hm248);
}
.hm249 {
  @include ir2($hm249);
}
.hm250 {
  @include ir2($hm250);
}
.hm251 {
  @include ir2($hm251);
}
.hm252 {
  @include ir2($hm252);
}
.hm253 {
  @include ir2($hm253);
}
.hm254 {
  @include ir2($hm254);
}
.hm255 {
  @include ir2($hm255);
}
.hm256 {
  @include ir2($hm256);
}
.hm257 {
  @include ir2($hm257);
}
.hm258 {
  @include ir2($hm258);
}
.hm259 {
  @include ir2($hm259);
}
.hm260 {
  @include ir2($hm260);
}
.hm261 {
  @include ir2($hm261);
}
.hm262 {
  @include ir2($hm262);
}
.hm263 {
  @include ir2($hm263);
}
.hm264 {
  @include ir2($hm264);
}
.hm265 {
  @include ir2($hm265);
}
.hm266 {
  @include ir2($hm266);
}
.hm267 {
  @include ir2($hm267);
}
.hm268 {
  @include ir2($hm268);
}
.hm269 {
  @include ir2($hm269);
}
.hm270 {
  @include ir2($hm270);
}
.hm271 {
  @include ir2($hm271);
}
.hm272 {
  @include ir2($hm272);
}
.hm273 {
  @include ir2($hm273);
}
.hm274 {
  @include ir2($hm274);
}
.hm275 {
  @include ir2($hm275);
}
.hm276 {
  @include ir2($hm276);
}
.hm277 {
  @include ir2($hm277);
}
.hm278 {
  @include ir2($hm278);
}
.hm279 {
  @include ir2($hm279);
}
.hm280 {
  @include ir2($hm280);
}
.hm281 {
  @include ir2($hm281);
}
.hm282 {
  @include ir2($hm282);
}
.hm283 {
  @include ir2($hm283);
}
.hm284 {
  @include ir2($hm284);
}
.hm285 {
  @include ir2($hm285);
}
.hm286 {
  @include ir2($hm286);
}
.hm287 {
  @include ir2($hm287);
}
.hm288 {
  @include ir2($hm288);
}
.hm289 {
  @include ir2($hm289);
}
.hm290 {
  @include ir2($hm290);
}
.hm291 {
  @include ir2($hm291);
}
.hm292 {
  @include ir2($hm292);
}
.hm293 {
  @include ir2($hm293);
}
.hm295 {
  @include ir2($hm295);
}
.hm296 {
  @include ir2($hm296);
}
.hm297 {
  @include ir2($hm297);
}
.hm298 {
  @include ir2($hm298);
}
.hm299 {
  @include ir2($hm299);
}
.hm300 {
  @include ir2($hm300);
}
