@import "./sprite-p.scss";
@import "./sprite-d.scss";
@import "../../../../scss/fn.module.scss";



.당마크 {
  display: inline-block;
  vertical-align: middle;
  border-radius: 3px;
  margin-right: 10px;
  height: 30px;
  overflow: hidden;
  border-radius: 5px;
  width: 30px;
  position: relative;
}
.로고 {
  position: absolute;
  left: -70%;
  top: -70%;
  transform: scale(0.5);
}
.더불어민주당_로고_30x30 {
  @include ir2-d($p1);
}
.국민의힘_로고_30x30 {
  @include ir2-d($p2);
}
.정의당_로고_30x30 {
  @include ir2-d($p3);
}

.국민의당_로고_30x30 {
  @include ir2-d($p4);
}

.열린민주당_로고_30x30 {
  @include ir2-d($p5);
}

.기본소득당_로고_30x30 {
  @include ir2-d($p6);
}
.시대전환_로고_30x30 {
  @include ir2-d($p7);
}
.무소속_로고_30x30 {
  @include ir2-d($p8);
  transform: scale(1);
  background: #ccc;
}
.무소속_로고_30x30::before {
  content: "무소속";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  font-size: 11px;
  letter-spacing: -1px;
}

// 국회의원 사진
.의원사진랩핑 {
  width: 60px;
  height: 60px;
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 100%;
}
.의원사진 {
  transform: scale(0.5);
  position: absolute;
  left: -50%;
  top: -70%;
}

.mbc {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 10;
  display: block;
  width: 90px;
  font-size: 0;
  img {
    width: 100%;
  }
}
.비중조절 {
  .MuiSvgIcon-root {
    transform: scale(0.8);
  }
  .MuiChip-labelSmall {
    padding-left: 0;
  }
}
.랭크및라벨 {
  margin-left: 0 !important;
  letter-spacing: -1px;
  .MuiChip-root {
    margin-left: 4px;
  }
}
.thumb {
  font-size: 0;
  position: relative;
}
.thumb::before {
  content: "";
  @include 이미지테두리(100%);
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  opacity: 0.6;
  z-index: 5;
}
.thumb.무소속::before {
  border-color: $무소속;
}
.thumb.국민의힘::before {
  border-color: $국민의힘;
}
.thumb.더불어민주당::before {
  border-color: $더불어민주당;
}
.thumb.정의당::before {
  border-color: $정의당;
}
.thumb.열린민주당::before {
  border-color: $열린민주당;
}
.wrap {
  align-items: center;
}
.thumb {
  height: 60px;
}
.thumb img {
  border-radius: 100%;
  width: 60px;
  height: 60px;
}

// 자간 올리기
.MuiChip-label {
  margin-top: -3px;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid black;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid #f00;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;

  border-left: 60px solid green;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right: 10px solid blue;
}

.당마크 {
  display: inline-block;
  vertical-align: middle;
  border-radius: 3px;
  margin-right: 10px;
  height: 30px;
  img {
    width: 30px;
    object-fit: cover;
  }
}
// .더불어민주당_로고_30x30 {
//   background-color: #0c69b433;
// }
// .국민의힘_로고_30x30 {
//   background-color: #ffdddf;
// }
// .무소속_로고_30x30 {
//   position: relative;
//   background-color: #898a8e;
// }
.당마크.무소속_로고_30x30::before {
  content: "무소속";
  position: absolute;
  left: 0;
  top: 7px;
  color: #fff;
  font-size: 11px;
  letter-spacing: -1px;
  text-shadow: 1px 1px 6px #000;
}
// .정의당_로고_30x30 {
//   background-color: #f8eec9;
// }
// .열린민주당_로고_30x30 {
//   background-color: #b4af0c33;
// }
// .더불어민주당_로고_30x30 {
//   background-image: url($네이버선거);
//   -webkit-background-size: 357px 320px;
//   background-size: 357px 320px;
//   background-repeat: no-repeat;
//   background-position: 0px -261px;
//   width: 30px;
//   height: 30px;
//   background-color: #0c69b4;
// }
// .국민의힘_로고_30x30 {
//   background-image: url($네이버선거);
//   -webkit-background-size: 357px 320px;
//   background-size: 357px 320px;
//   background-repeat: no-repeat;
//   background-position: -32px -261px;
//   width: 30px;
//   height: 30px;
//   background-color: #e61e2b;
// }
// .무소속_로고_30x30 {
//   background-image: url($네이버선거);
//   -webkit-background-size: 357px 320px;
//   background-size: 357px 320px;
//   background-repeat: no-repeat;
//   background-position: -280px -87px;
//   width: 30px;
//   height: 30px;
//   background-color: #898a8e;
// }
#roadview {
  width: 100%;
  height: 250px;
}
body,
html,
#root,
#app {
  height: 100%;
  overflow: hidden;
}
#btn-zoom {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 10;
  padding: 12px;
  min-width: inherit;
}

#정당별갯수 {
  position: absolute;
  right: 10px;
  bottom: 10px;
  .wrapping {
    position: relative;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 100%;
    background-color: #eee;
    display: flex;
    justify-content: center;
    .로고 {
      left: -22px;
      top: -22px;
      transform: scale(0.3);
    }
  }
  .타이틀 {
    font-weight: normal;
    font-size: 12px;
    letter-spacing: -1px;
    text-align: center;
    padding: 5px 0;
    font-weight: bold;
  }

  .items {
    position: relative;
    text-align: left;
  }
  .items::after {
    content: "";
    background: #eee;
    position: absolute;
    width: 90%;
    height: 1px;
    display: block;
    left: 5%;
    bottom: 0;
  }
  .items .MuiButton-label {
    position: relative;
  }
  ul li:last-child::after {
    display: none !important;
  }

  .버튼 {
    width: 100%;
    justify-content: left;
  }
  .로고 {
    img {
      width: 20px;
      object-fit: cover;
    }
  }
  .로고 .정당이름 {
    letter-spacing: -1px;
  }
  .로고.무소속 {
    background-color: #ccc;
  }
  .wrap {
    padding-left: 10px;
    line-height: 1;
    display: flex;
    flex-flow: column;
    font-size: 12px;
    align-items: flex-start;
    letter-spacing: -1px;
  }
  .카운터 {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
  }
  .wrap.국민의힘 {
    color: $국민의힘;
  }
  .wrap.더불어민주당 {
    color: $더불어민주당;
  }
  .wrap.무소속 {
    color: $무소속;
  }
  .wrap.정의당 {
    color: $정의당;
  }
  .wrap.열린민주당 {
    color: $열린민주당;
  }
  .wrap .카운터 .total {
    position: relative;
    color: #666;
    font-weight: normal;
    font-size: 16px;
    padding-left: 10px;
    vertical-align: middle;
  }
  .wrap .카운터 .total::before {
    content: "/";
    position: absolute;
    left: 4px;
    top: 1px;
  }
}
.ContentsWrap {
  overflow: hidden;
  height: 100%;
  padding: 20px 20px 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;

  box-shadow: 5px -4px 13px #666;
  .MuiFormControl-fullWidth {
    background: rgba(255, 255, 255, 0.69);
    border-radius: 4px;
  }

  .banner {
    position: relative;
    height: 150px;
    padding-top: 50px;
    box-sizing: border-box;
    margin: -20px;
    text-align: center;
    .한자 {
      display: block;
      height: 3vw;
      background-position: center center;
      background-size: 18vw auto;
      background-repeat: no-repeat;
      color: transparent;
    }
    .sub-test {
      opacity: 0.6;
      height: 2.3vw;
      color: transparent;
      background: url("../imgs/banner-text2.png") no-repeat center center;
      background-size: 20vw auto;
    }
  }
}
#header {
  background: url("../imgs/banner.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 10;
  margin: -20px;
  padding: 0 20px;
  box-shadow: 1px 1px 3pc #ccc;
  //   &::after {
  //     content: "";
  //     position: absolute;
  //     width: 100%;
  //     z-index: 3;
  //     height: 2px;
  //     padding: 0 20px;
  //     left: -20px;
  //     background: #fff;
  //     bottom: 0;
  //   }
  &::before {
    content: "";
    position: absolute;
    width: 110%;
    padding: 0 20px;
    bottom: 0;
    left: -20px;
    height: 1px;
    z-index: 3;
    box-shadow: 0 1px 3px #666;
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 40%,
      rgba(255, 255, 255, 0) 100%
    );
    opacity: 0.8;
  }
  .필터버튼 {
    position: relative;
    z-index: 10;
    width: 100%;
    padding: 10px 0;
    .MuiButtonGroup-root {
      width: 100%;
    }
    button {
      font-size: 13px;
      line-height: 1;
      padding: 10px 20px;
      white-space: nowrap;
      flex: 1;
      letter-spacing: -0.05em;
    }
  }
  .all button:nth-child(1),
  .보유수 button:nth-child(2),
  .총필지면적 button:nth-child(3),
  .필지가격 button:nth-child(4),
  .평당가 button:nth-child(5) {
    background: #777;
    color: #fff;
  }
}
///// 필터버튼

//////////////// 검색 영역
.search {
  position: relative;
  z-index: 9;
  .all {
    position: absolute;
    right: 0;
    top: -40px;
    border-radius: 4px;
  }
}

.custom-layer-tooltip {
  border-radius: 4px;
  overflow: visible !important;
  background-color: #fff;
  box-shadow: 0px 2px 1px -1px #ccc;
  .wrap {
    padding: 16px;
  }
  .headline {
    font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    margin-bottom: 0.35em;
    color: #666;
    .기타정보 {
      font-size: 0.8rem;
    }
    .소유주 {
      font-weight: bold;
      color: #000;
    }
    .종류::before {
      content: "/";
      padding: 0 5px;
    }
  }

  .parag {
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    .취득정보 {
      color: #000;
      letter-spacing: -0.05em;
    }
  }
}
///////////////////// 디테일
.detail {
  margin-top: 20px;
  .답변원문 {
    margin-top: 10px;
  }
  .헤드라인 {
    position: relative;
    font-size: 1.2rem;
    display: flex;
    flex-flow: column;

    .정보 {
      display: flex;
      padding-right: 50px;
      font-size: 14px;
      color: #666;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: solid 1px #ddd;
    }
    .thumb-wrap {
      overflow: hidden;
    }
    .thumb {
      display: block;
      overflow: hidden;
      margin-right: 10px;
      height: 60px;
      width: 60px;
      border-radius: 100%;
      img {
        object-fit: cover;
      }
    }
    .기본정보묶기 {
      justify-content: center;
      display: flex;
      flex-flow: column;
      flex: 1 1;
    }
    .이름 {
      font-size: 20px;
      margin-right: 5px;
      color: #000;
    }
    .소유주 {
    }

    .MuiSvgIcon-root {
      position: relative;
      top: 2px;
    }
    .back {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .농지법라벨 {
    margin: 10px 0 5px;
  }
  .농지법라벨 .MuiChip-root {
    margin: 3px;
  }
  .기타 {
    display: block;
    font-size: 14px;
    margin: 10px 0;
  }

  .주소감싸미 {
    color: #666;
    line-height: 1;
    margin-bottom: 10px;
    strong {
      color: #000;
    }
    .주소 {
      font-size: 14px;
    }
  }
  .소제목 {
    display: flex;
    font-size: 16px;
    margin: 30px 0 10px;
    border-bottom: solid 1px #ddd;
    padding-bottom: 10px;
    svg {
      margin-right: 5px;
    }
  }

  .텍스트리스트 {
    font-size: 14px;
    li {
      margin: 5px 0;
      position: relative;
      padding-left: 10px;
    }
    li::before {
      content: "";
      position: absolute;
      display: block;
      width: 4px;
      height: 4px;
      left: 0;
      top: 9px;
      background: #333;
      border-radius: 100%;
    }
  }
  #roadview {
    margin: 10px -10px;
    padding: 0 10px;
    box-sizing: content-box;
  }
  .지분 {
    display: flex;
    margin-top: 10px;
    position: relative;
    align-items: center;
    font-size: 16px;
    .게이지 {
      background-color: #333;
      flex-grow: 1;
      border-radius: 3px;

      overflow: hidden;
    }
    .막대 {
      --background-start: #fe6b8b;
      --background-end: #ff8e53;
      transition: all 1s;
      display: block;
      width: 0;
      background: linear-gradient(
        45deg,
        var(--background-start) 30%,
        var(--background-end) 90%
      );

      height: 16px;
    }
    .비중 {
      font-size: 14px;
      width: 90px;
      text-align: right;
      position: absolute;
      right: 5px;
      color: #fff;
      top: -2px;
    }
  }
}

.custom-layer-tooltip::after {
  content: "";
  left: 50%;
  bottom: -20px;
  margin-left: -20px;
  width: 0;
  height: 0;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #fff;
}
#footer {
  position: absolute;
  left: 0;
  bottom: 20px;
  font-size: 12px;
  color: #000;
}
///////////// 의원 검색 결과
.router-contents {
  position: relative;
  overflow: auto;
  margin: 10px -20px 0 -20px;
  padding: 0 20px;
  flex-grow: 1;
  height: 300px;
  background: #efefef;
  .농지법대상 {
    color: red;
    display: block;
  }
  .list {
    margin: 20px 0;
    &.전체보기 {
      .소유 {
      }
    }
    .면적 {
      font-size: 12px;
      letter-spacing: -0.5px;
      margin: 0 5px;
    }
    .농지무소유 {
      opacity: 0.5;
    }
    .랭킹 {
      margin-top: -2px;
      margin-bottom: 5px;
    }
    .랭킹.primary.n2 {
      background-color: rgba(63, 81, 181, 0.9);
    }
    .랭킹.primary.n3 {
      background-color: rgba(63, 81, 181, 0.8);
    }
    .랭킹.primary.n4 {
      background-color: rgba(63, 81, 181, 0.7);
    }
    .랭킹.primary.n5 {
      background-color: rgba(63, 81, 181, 0.6);
    }
    .랭킹.secondary.n2 {
      background-color: rgba(181, 63, 63, 0.9);
    }
    .랭킹.secondary.n3 {
      background-color: rgba(181, 63, 63, 0.8);
    }
    .랭킹.secondary.n4 {
      background-color: rgba(181, 63, 63, 0.7);
    }
    .랭킹.secondary.n5 {
      background-color: rgba(181, 63, 63, 0.6);
    }
    .랭킹.n6,
    .랭킹.n7,
    .랭킹.n8,
    .랭킹.n9,
    .랭킹.n10 {
      background-color: #a19d9d;
      .MuiChip-labelSmall {
        color: #fff;
      }
    }
    .MuiChip-colorSecondary {
      background-color: #4cb4b9;
    }
    .MuiChip-colorPrimary {
      background-color: #6e79b6;
    }

    .보유수 {
      color: red;
      margin-left: 5px;
    }
    .가액변동 {
      display: inline-block;
      margin-left: 10px;
      color: #3f51b5;
      svg {
        vertical-align: middle;
      }
    }
    .지역구 {
      color: #666;
      font-size: 13px;
      margin-left: 5px;
    }
    .wrap {
      display: flex;
      padding: 0 10px;
    }
    .MuiButtonBase-root {
      justify-items: left;
    }
    .MuiCardContent-root {
      flex: 1;
    }
    .MuiCardActions-root {
      flex-wrap: wrap;
      padding: 8px 8px 3px 8px;
    }
    .MuiChip-outlined {
      margin-bottom: 5px;
    }
  }
}
.detail {
  margin-top: 30px;
  padding: 10px;
  .context {
    font-size: 14px;
    color: #666;
    li {
      margin: 10px 0;
      word-break: break-all;
    }
  }
  .영농계획뷰 {
    line-height: 1.6;
    span {
      color: $더불어민주당;
    }
    .장비보유 {
      padding-top: 5px;
    }
  }
  .뒤로가기 {
    margin-top: 20px;
    letter-spacing: -1px;
    .MuiButtonBase-root {
      color: #fff;
      background-color: #777;
    }
  }
  .답변link {
    word-break: break-all;
    font-size: 12px;
  }
}

#범례영역 {
  position: absolute;
  width: 100%;
  left: 10px;
  bottom: 10px;
  z-index: 10;
  $var: 20px;
  width: calc(100% - #{$var});
  .wrap {
    position: relative;
  }
  #zooinOut {
    position: absolute;
    left: 0;
    bottom: 90px;
    z-index: 10;
    button {
      background: #fff;
    }
  }
}
#요약농지 {
}

@media (max-width: 1280px) {
  .ContentsWrap .banner {
  }
  .ContentsWrap .banner .한자 {
    height: 4vw;
    background-size: 24vw auto;
  }
  .ContentsWrap .banner .sub-test {
    background-size: 28vw auto;
  }
}
@media (max-width: 960px) {
  #header {
    padding-top: 10px;
    background: none;
  }
  .ContentsWrap .banner {
    display: none;
  }
  .모바일햄버거 {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 11;
    .MuiFab-sizeSmall {
      background-color: #6e79b6;
      color: #fff;
    }
    .MuiFab-root:hover {
      background-color: #42496e;
      color: #fff;
    }
  }
  #정당별갯수 {
    display: none;
  }
  #정당별갯수.active {
    display: block;
  }
}
@media (max-width: 840px) {
}
@media (max-width: 600px) {
  #app {
    flex-direction: column;
  }
  #map {
    //height: 100%;
  }
  #container {
    flex-basis: auto;
  }
  // 라우터 컨텐츠 랩
  .ContentsWrap {
    padding: 10px 10px 0 10px;
    .router-contents {
      height: auto;
    }
  }
  #detail-wrap {
    margin-top: -10px;
  }

  .router-contents .list {
    margin: 10px 0;
  }
  // 맵 전체 줌버튼
  #btn-zoom {
    padding: 5px;
  }

  // 검색배너
  #header {
    padding-top: 10px;
    .banner {
      display: none;
    }
    // 검색콤보박스
    .search {
      display: flex;
      flex-direction: row-reverse;
      padding-top: 10px;
      .all {
        position: relative;
        right: 0;
        top: 0;
        height: 38px;
        margin-left: 10px;
      }
    }
    // 의원리스트
    .router-contents .list {
      margin: 10px 0;
    }
  }
  .MuiAutocomplete-root {
    flex: 1px;
    .MuiInputLabel-outlined {
      transform: translate(14px, 12px) scale(1);
    }
  }
  // 상세
  #detail-wrap {
    height: 200px;
  }
  // 리스트 페이지 네비게이션
  #list-util {
    display: flex;
    border: solid 1px #eee;
    background: #fff;
    border-bottom: 0;
    border-radius: 7px 7px 0 0;
    .swiper-button-disabled {
      opacity: 0.3;
    }
    .list-util-nav {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .게이지 {
    }
  }
  // 맵 > 툴팁
  .custom-layer-tooltip {
    min-width: 350px;
    white-space: normal;
  }

  // 정당별토지소유
  #정당별갯수 {
    .카운터 {
      letter-spacing: -1px;
      font-size: 20px;
    }

    .타이틀,
    .wrap .정당이름 {
      display: none;
    }
  }
  #header {
    background: none;
  }
  #정당별갯수 {
    // display: none;
  }
  #zooinOut {
    display: none;
  }
  #footer {
    font-size: 11px;
  }
  .swiper-slide-items {
    width: 300px;
  }
  .swiper-slide {
    width: auto;
  }
  .swiper-container {
    margin: 10px -10px 0 -10px;
  }
  .swiper-wrapper .MuiCardContent-root {
    padding: 10px 16px;
  }
  .router-contents .list .MuiCardActions-root {
    padding-top: 0;
  }
  .swiper-slide .MuiCardActions-spacing > :not(:first-child) {
    margin-left: 4px;
  }

  .custom-layer-tooltip .parag {
    padding: 0;
    width: 100%;
  }
  .mbc {
    width: 60px;
  }
}
@media (max-width: 320px) {
  .custom-layer-tooltip {
    min-width: 300px;
  }
}
