@import "../../../../scss/fn.module.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root,
.App,
.App > div,
.home {
  height: 100%;
}
ul,
li {
  list-style: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 550ms ease-in;
}

/* 홈 */
.home {
  position: relative;
}

// 검색
.homeContents {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  display: flex;
  width: 80%;
  height: 700px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border-radius: 10px;
  border: solid 1px #333;
  flex-flow: column;
  z-index: 100;
  padding: 20px;
  overflow: hidden;
  .parag {
    line-height: 1.5;
    margin-bottom: 15px;
    color: #ccc;
  }
  .tit {
    background: url("../imgs/h1.png") no-repeat center center;
    background-size: cover;
    background-size: 100% auto;
    width: 140px;
    height: 30px;
    margin-bottom: 20px;
    overflow: hidden;
    text-indent: -999px;
    margin-top: 10px;
  }
  .cell {
    display: flex;
    margin-bottom: 20px;
  }
  .fire-Autocomplete {
  }
  .fire-searchBtn {
    padding: 8px;
    width: 100px;
    margin-left: 10px;
  }
  // 관련기사
  .s-tit {
    background: url("../imgs/h2.png") no-repeat center center;
    background-size: cover;
    background-size: 100% auto;
    width: 64px;
    height: 30px;
    margin: 20px 0 10px;
    overflow: hidden;
    text-indent: -999px;
  }
  .items-wrap {
    width: 50%;
    float: left;
    margin: 5px 0;
  }
  .itmes {
    display: flex;
    align-items: center;
    .thumb {
      position: relative;
      border-radius: 5px;
      overflow: hidden;
    }
    .thumb::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border: solid 1px #fff;
      box-sizing: border-box;
      border-radius: 5px;
      opacity: 0.2;
    }
    .thumb img {
      object-fit: cover;
      width: 80px;
      height: 80px;
    }
    .ell {
      @include ell(3);
      line-height: 1.3;
    }
    .info {
      padding-left: 10px;
      flex: 1;
    }
    .date {
      display: block;
      color: #888;
      font-size: 13px;
      padding-top: 7px;
    }
    em {
      font-style: normal;
      padding-left: 10px;
    }
  }
}
#effect {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0.7;
}

#smoke {
  left: 0;
  mix-blend-mode: lighten;
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
#shushu {
  display: block;
  position: absolute;
  left: 0;
  z-index: 100;
  background-color: red;
  margin: 0;
}
#panorama {
  #autorotateToggle,
  #titleBar {
    display: none;
  }
}
// 링크
.link-hotspot .MuiSvgIcon-root {
  font-size: 50px;
  color: greenyellow;
  cursor: pointer;
  margin: 10px;
  animation: bounceBigPlace 2s infinite ease-in-out;
}
.옥상대피공간 {
  .info-hotspot-text {
    overflow: hidden;
    > div {
      padding-bottom: 60px;
    }
    .수용률 {
      position: absolute;
      left: -20px;
      bottom: -30px;
      svg {
        color: #fff;
        font-size: 120px;
        vertical-align: middle;
      }
      .곱 strong::before {
        content: "X";
        font-size: 17px;
        margin-right: 10px;
      }
      .곱 strong {
        font-size: 30px;
      }
    }
  }
}

@keyframes bounceBigPlace {
  0%,
  100% {
    -webkit-transform: translateY(-3px);
  }

  50% {
    -webkit-transform: translateY(-10px);
  }
}
// 정보
@mixin iconBg($v) {
  content: "";
  display: block;
  background: url("../imgs/#{$v}") no-repeat center center;
  width: 30px;
  height: 30px;
  background-size: cover;
  margin: 5px 0 0 5px;
}
.info-hotspot-icon-wrapper {
  overflow: hidden;

  &::before {
    @include iconBg("icon_roof.png");
  }
  img {
    display: none;
  }
  .MuiSvgIcon-root {
    color: #fff;
  }
}
.옥상대피공간 .info-hotspot-icon-wrapper::before,
.장애요인 .info-hotspot-icon-wrapper::before,
.옥상출입문설치여부 .info-hotspot-icon-wrapper::before,
.유도등설치여부 .info-hotspot-icon-wrapper::before {
  display: none;
}

// 유도등애니
@mixin zoomInOut($c, $w) {
  $v: $w/10;
  content: "";
  position: absolute;
  width: #{$w}px;
  height: #{$w}px;
  background-color: $c;
  z-index: -1;
  border-radius: 100%;
}
@mixin before($color) {
  @include zoomInOut($color, 50);
  top: -5px;
  left: -5px;
  animation: bounce 2s infinite ease-in-out;
  @media (max-width: 400px), (-webkit-min-device-pixel-ratio: 2) {
    top: 0;
    left: 0;
  }
}
@mixin after($color) {
  @include zoomInOut($color, 60);
  top: -10px;
  left: -10px;
  animation: bounce 2s infinite ease-in-out;
  animation-delay: -1s;
  @media (max-width: 400px), (-webkit-min-device-pixel-ratio: 2) {
    top: -5px;
    left: -5px;
  }
}

.info-hotspot.red::before {
  @include before(rgba(255, 0, 0, 0.4));
}
.info-hotspot.red::after {
  @include after(rgba(255, 0, 0, 0.2));
}

.info-hotspot.green::before {
  @include before(rgba(4, 182, 4, 0.4));
}
.info-hotspot.green::after {
  @include after(rgba(19, 197, 19, 0.2));
}

.info-hotspot.yellow::before {
  content: "";
  @include before(rgba(219, 187, 6, 0.4));
}
.info-hotspot.yellow::after {
  content: "";
  @include after(rgba(243, 239, 14, 0.2));
}

@keyframes bounce {
  0%,
  100% {
    -webkit-transform: scale(0.9);
  }

  50% {
    -webkit-transform: scale(1.3);
  }
}

// 하단
.말풍선 {
  position: fixed;
  width: 90%;
  left: 5%;
  bottom: 5%;
  height: 100px;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  line-height: 1.5;
  align-items: center;
  display: flex;
  .noti {
    position: absolute;
    bottom: 110px;
    left: 20px;
    font-size: 13px;
    li {
      position: relative;
      padding-left: 15px;
    }
    li::before {
      content: "ㆍ";
      position: absolute;
      left: 0;
      top: 0;
    }
    .state {
      display: flex;
      span::before {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: red;
        margin-left: 10px;
        margin-right: 4px;
      }
      .green::before {
        background-color: rgba(4, 182, 4, 1);
      }
      .yellow::before {
        background-color: #ffeb3b;
      }
    }
  }
  .dong {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    background: url("../imgs/icon_dong.png") no-repeat center center;
    background-size: cover;
    opacity: 0.8;
    .icon {
      position: absolute;
      color: greenyellow;
      animation: bounce2 2s infinite ease-in-out;
    }
    @keyframes bounce2 {
      0%,
      100% {
        -webkit-transform: translateY(-3px);
      }

      50% {
        -webkit-transform: translateY(-10px);
      }
    }
  }
  .dong::before {
    content: "";
    display: block;
    height: 1px;
    width: 40px;
    background-color: #aaa;
    position: absolute;

    left: 0;
  }
  .dong.A .icon {
    left: -5px;
    top: -19px;
  }
  .dong.A::before {
    top: 5px;
  }
  .dong.B::before {
    top: 15px;
  }
  .dong.B .icon {
    left: -5px;
    top: -7px;
  }
}

.infobox {
  margin-left: 20px;
  flex: 1;
  .title em {
    font-size: 12px;
    vertical-align: middle;
    margin-left: 10px;
    color: #ccc;
  }
  .title {
    position: relative;
  }
  li {
    font-size: 14px;
  }
  .강조 {
    color: greenyellow;
  }
  .강조.red {
    color: #ff8989;
  }
}
.error-contents {
  display: block;
  margin-top: 5px;
  color: greenyellow;
}
.strList li {
  margin: 5px 0 10px 0;
  padding-left: 15px;
  position: relative;
  color: #ccc;
  .sub-tit {
    margin-bottom: 10px;
    display: block;
  }
}
.strList .provider {
  font-size: 12px;
  display: block;
  text-align: right;
}
.strList li {
  .li {
    font-size: 13px;
    display: block;
    margin-bottom: 5px;
  }
}
.strList li::before {
  content: "ㆍ";
  position: absolute;
  left: 0;
  top: 0;
}
.strList .value {
  font-size: 24px;
  overflow: hidden;
  color: #fff;
}
.strList .link {
  font-size: 12px;
  margin-left: 5px;
}
.contentsValue {
  position: relative;
  width: 100%;
  .value {
    font-size: 24px;
    vertical-align: middle;
    padding: 10px 0;
  }
  .exit {
    position: absolute;
    right: 0;
    top: 0;
  }
  .link {
    font-size: 12px;
    color: #ccc;
    margin-right: 10px;
  }
  .MuiSwitch-colorSecondary.Mui-checked {
    color: #909dae;
  }
  .MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
    background-color: #8e959e;
  }
}
.md-wrap {
  width: 90%;
  max-width: 600px;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
}
.tooltip {
  font-size: 12px;
}

.link,
.link:visited {
  color: #ccc;
  text-decoration: underline;
}
.link:hover {
  color: #fff;
  text-decoration: underline;
}
.link.small {
  font-size: 12px;
  margin-left: 10px;
}
.makeStyles-modal-1 {
  z-index: 1000;
}
#md-contents {
  .help {
    color: #000;
    padding: 20px;
  }
  h6 {
    font-size: 16px;
    padding-bottom: 10px;
    border-top: solid 1px #ccc;
    padding-top: 20px;
    font-weight: bold;
  }
  .parag {
    font-size: 14px;
    line-height: 1.5;
    overflow: hidden;
  }
  .float {
    float: left;
    border-radius: 5px;
    margin-right: 10px;
    overflow: hidden;
  }
}

.nodata {
  padding: 20px;
  background-color: #444;
  border: solid 1px #333;
  border-radius: 10px;
  text-align: center;
  h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
  }
  .gohome {
    margin-top: 10px;
  }
}
/* 
    mobile-320
*/
@media (max-width: 800px) {
  .homeContents {
    width: 90%;
    height: 90%;
  }
  .homeContents .items-wrap {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .homeContents {
    .cell {
      flex-flow: column;
    }
    .fire-searchBtn {
      margin: 5px 0 0 0;
      width: 100%;
    }
  }
  .말풍선 {
    bottom: 60px;
    .noti {
      left: 0;
      line-height: 1.3;
    }
  }

  #md-contents .help {
    padding: 10px;
  }
  #md-contents .float {
    width: 60px;
  }
  .items-container > li:nth-child(3),
  .items-container > li:nth-child(4) {
    display: none;
  }
  .homeContents .itmes .thumb img {
    width: 60px;
    height: 60px;
  }
  .homeContents .itmes .ell {
    font-size: 13px;
  }
  .homeContents .itmes .date {
    font-size: 11px;
  }
  .homeContents .parag {
    font-size: 14px;
  }

  .homeContents .tit {
    width: 110px;
  }
  .homeContents .s-tit {
    width: 56px;
    margin: 0;
  }
}
@media (max-height: 400px) and (orientation: landscape) {
  .homeContents .tit {
    width: 120px;
  }
  .homeContents .parag {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .homeContents .cell {
    margin-bottom: 26px;
  }
  .items-container,
  .s-tit {
    display: none;
  }
}
@media (max-width: 320px) {
  .말풍선 {
    padding: 10px;
    .infobox {
      margin-left: 0;
    }
  }
  .말풍선 .dong {
    display: none;
  }
  #md-contents .help {
    position: relative;
    margin-top: -20px;
    z-index: 4;
  }
  #md-contents h6 {
    padding-top: 10px;
  }

  .homeContents .cell {
    margin-bottom: 20px;
  }

  .homeContents .tit {
    width: 100px;
  }
  .homeContents .s-tit {
    width: 50px;
  }
  .items-container > li:nth-child(1) {
    display: block;
  }
  .items-container > li:nth-child(2) {
    display: none;
  }
}
