@import "./sprite-p.scss";
@import "../../../../scss/fn.module.scss";

.hm1 {
  @include ir2($hm1);
}
.hm2 {
  @include ir2($hm2);
}
.hm3 {
  @include ir2($hm3);
}
.hm4 {
  @include ir2($hm4);
}
.hm5 {
  @include ir2($hm5);
}
.hm6 {
  @include ir2($hm6);
}
.hm7 {
  @include ir2($hm7);
}
.hm8 {
  @include ir2($hm8);
}
.hm9 {
  @include ir2($hm9);
}
.hm10 {
  @include ir2($hm10);
}
.hm11 {
  @include ir2($hm11);
}
.hm12 {
  @include ir2($hm12);
}
.hm13 {
  @include ir2($hm13);
}
.hm14 {
  @include ir2($hm14);
}
.hm15 {
  @include ir2($hm15);
}
.hm16 {
  @include ir2($hm16);
}
.hm17 {
  @include ir2($hm17);
}
.hm18 {
  @include ir2($hm18);
}
.hm19 {
  @include ir2($hm19);
}
.hm20 {
  @include ir2($hm20);
}
.hm21 {
  @include ir2($hm21);
}
.hm22 {
  @include ir2($hm22);
}
.hm23 {
  @include ir2($hm23);
}
.hm24 {
  @include ir2($hm24);
}
.hm25 {
  @include ir2($hm25);
}
.hm26 {
  @include ir2($hm26);
}
.hm27 {
  @include ir2($hm27);
}
.hm28 {
  @include ir2($hm28);
}
.hm29 {
  @include ir2($hm29);
}
.hm30 {
  @include ir2($hm30);
}
.hm31 {
  @include ir2($hm31);
}
.hm32 {
  @include ir2($hm32);
}
.hm33 {
  @include ir2($hm33);
}
.hm34 {
  @include ir2($hm34);
}
.hm35 {
  @include ir2($hm35);
}
.hm36 {
  @include ir2($hm36);
}
.hm37 {
  @include ir2($hm37);
}
.hm38 {
  @include ir2($hm38);
}
.hm39 {
  @include ir2($hm39);
}
.hm40 {
  @include ir2($hm40);
}
.hm41 {
  @include ir2($hm41);
}
.hm42 {
  @include ir2($hm42);
}
.hm43 {
  @include ir2($hm43);
}
.hm44 {
  @include ir2($hm44);
}
.hm45 {
  @include ir2($hm45);
}
.hm46 {
  @include ir2($hm46);
}
.hm47 {
  @include ir2($hm47);
}
.hm48 {
  @include ir2($hm48);
}
.hm49 {
  @include ir2($hm49);
}
.hm50 {
  @include ir2($hm50);
}
.hm51 {
  @include ir2($hm51);
}
.hm52 {
  @include ir2($hm52);
}
.hm53 {
  @include ir2($hm53);
}
.hm54 {
  @include ir2($hm54);
}
.hm55 {
  @include ir2($hm55);
}
.hm56 {
  @include ir2($hm56);
}
.hm57 {
  @include ir2($hm57);
}
.hm58 {
  @include ir2($hm58);
}
.hm59 {
  @include ir2($hm59);
}
.hm60 {
  @include ir2($hm60);
}
.hm61 {
  @include ir2($hm61);
}
.hm62 {
  @include ir2($hm62);
}
.hm63 {
  @include ir2($hm63);
}
.hm64 {
  @include ir2($hm64);
}
.hm65 {
  @include ir2($hm65);
}
.hm66 {
  @include ir2($hm66);
}
.hm67 {
  @include ir2($hm67);
}
.hm68 {
  @include ir2($hm68);
}
.hm69 {
  @include ir2($hm69);
}
.hm70 {
  @include ir2($hm70);
}
.hm71 {
  @include ir2($hm71);
}
.hm72 {
  @include ir2($hm72);
}
.hm73 {
  @include ir2($hm73);
}
.hm74 {
  @include ir2($hm74);
}
.hm75 {
  @include ir2($hm75);
}
.hm76 {
  @include ir2($hm76);
}
.hm77 {
  @include ir2($hm77);
}
.hm78 {
  @include ir2($hm78);
}
.hm79 {
  @include ir2($hm79);
}
.hm80 {
  @include ir2($hm80);
}
.hm81 {
  @include ir2($hm81);
}
.hm82 {
  @include ir2($hm82);
}
.hm83 {
  @include ir2($hm83);
}
.hm84 {
  @include ir2($hm84);
}
.hm85 {
  @include ir2($hm85);
}
.hm86 {
  @include ir2($hm86);
}
.hm87 {
  @include ir2($hm87);
}
.hm88 {
  @include ir2($hm88);
}
.hm89 {
  @include ir2($hm89);
}
.hm90 {
  @include ir2($hm90);
}
.hm91 {
  @include ir2($hm91);
}
.hm92 {
  @include ir2($hm92);
}
.hm93 {
  @include ir2($hm93);
}
.hm94 {
  @include ir2($hm94);
}
.hm95 {
  @include ir2($hm95);
}
.hm96 {
  @include ir2($hm96);
}
.hm97 {
  @include ir2($hm97);
}
.hm98 {
  @include ir2($hm98);
}
.hm99 {
  @include ir2($hm99);
}
.hm100 {
  @include ir2($hm100);
}
.hm101 {
  @include ir2($hm101);
}
.hm102 {
  @include ir2($hm102);
}
.hm103 {
  @include ir2($hm103);
}
.hm104 {
  @include ir2($hm104);
}
.hm105 {
  @include ir2($hm105);
}
.hm106 {
  @include ir2($hm106);
}
.hm107 {
  @include ir2($hm107);
}
.hm108 {
  @include ir2($hm108);
}
.hm109 {
  @include ir2($hm109);
}
.hm110 {
  @include ir2($hm110);
}
.hm111 {
  @include ir2($hm111);
}
.hm112 {
  @include ir2($hm112);
}
.hm113 {
  @include ir2($hm113);
}
.hm114 {
  @include ir2($hm114);
}
.hm115 {
  @include ir2($hm115);
}
.hm116 {
  @include ir2($hm116);
}
.hm117 {
  @include ir2($hm117);
}
.hm118 {
  @include ir2($hm118);
}
.hm119 {
  @include ir2($hm119);
}
.hm120 {
  @include ir2($hm120);
}
.hm121 {
  @include ir2($hm121);
}
.hm122 {
  @include ir2($hm122);
}
.hm123 {
  @include ir2($hm123);
}
.hm124 {
  @include ir2($hm124);
}
.hm125 {
  @include ir2($hm125);
}
.hm126 {
  @include ir2($hm126);
}
.hm127 {
  @include ir2($hm127);
}
.hm128 {
  @include ir2($hm128);
}
.hm129 {
  @include ir2($hm129);
}
.hm130 {
  @include ir2($hm130);
}
.hm131 {
  @include ir2($hm131);
}
.hm132 {
  @include ir2($hm132);
}
.hm133 {
  @include ir2($hm133);
}
.hm134 {
  @include ir2($hm134);
}
.hm135 {
  @include ir2($hm135);
}
.hm136 {
  @include ir2($hm136);
}
.hm137 {
  @include ir2($hm137);
}
.hm138 {
  @include ir2($hm138);
}
.hm139 {
  @include ir2($hm139);
}
.hm140 {
  @include ir2($hm140);
}
.hm141 {
  @include ir2($hm141);
}
.hm142 {
  @include ir2($hm142);
}
.hm143 {
  @include ir2($hm143);
}
.hm144 {
  @include ir2($hm144);
}
.hm145 {
  @include ir2($hm145);
}
.hm146 {
  @include ir2($hm146);
}
.hm147 {
  @include ir2($hm147);
}
.hm148 {
  @include ir2($hm148);
}
.hm149 {
  @include ir2($hm149);
}
.hm150 {
  @include ir2($hm150);
}
.hm151 {
  @include ir2($hm151);
}
.hm152 {
  @include ir2($hm152);
}
.hm153 {
  @include ir2($hm153);
}
.hm154 {
  @include ir2($hm154);
}
.hm155 {
  @include ir2($hm155);
}
.hm156 {
  @include ir2($hm156);
}
.hm157 {
  @include ir2($hm157);
}
.hm158 {
  @include ir2($hm158);
}
.hm159 {
  @include ir2($hm159);
}
.hm160 {
  @include ir2($hm160);
}
.hm161 {
  @include ir2($hm161);
}
.hm162 {
  @include ir2($hm162);
}
.hm163 {
  @include ir2($hm163);
}
.hm164 {
  @include ir2($hm164);
}
.hm165 {
  @include ir2($hm165);
}
.hm166 {
  @include ir2($hm166);
}
.hm167 {
  @include ir2($hm167);
}
.hm168 {
  @include ir2($hm168);
}
.hm169 {
  @include ir2($hm169);
}
.hm170 {
  @include ir2($hm170);
}
.hm171 {
  @include ir2($hm171);
}
.hm172 {
  @include ir2($hm172);
}
.hm173 {
  @include ir2($hm173);
}
.hm174 {
  @include ir2($hm174);
}
.hm175 {
  @include ir2($hm175);
}
.hm176 {
  @include ir2($hm176);
}
.hm177 {
  @include ir2($hm177);
}
.hm178 {
  @include ir2($hm178);
}
.hm179 {
  @include ir2($hm179);
}
.hm180 {
  @include ir2($hm180);
}
.hm181 {
  @include ir2($hm181);
}
.hm182 {
  @include ir2($hm182);
}
.hm183 {
  @include ir2($hm183);
}
.hm184 {
  @include ir2($hm184);
}
.hm185 {
  @include ir2($hm185);
}
.hm186 {
  @include ir2($hm186);
}
.hm187 {
  @include ir2($hm187);
}
.hm188 {
  @include ir2($hm188);
}
.hm189 {
  @include ir2($hm189);
}
.hm190 {
  @include ir2($hm190);
}
.hm191 {
  @include ir2($hm191);
}
.hm192 {
  @include ir2($hm192);
}
.hm193 {
  @include ir2($hm193);
}
.hm194 {
  @include ir2($hm194);
}
.hm195 {
  @include ir2($hm195);
}
.hm196 {
  @include ir2($hm196);
}
.hm197 {
  @include ir2($hm197);
}
.hm198 {
  @include ir2($hm198);
}
.hm199 {
  @include ir2($hm199);
}
.hm200 {
  @include ir2($hm200);
}
.hm201 {
  @include ir2($hm201);
}
.hm202 {
  @include ir2($hm202);
}
.hm203 {
  @include ir2($hm203);
}
.hm204 {
  @include ir2($hm204);
}
.hm205 {
  @include ir2($hm205);
}
.hm206 {
  @include ir2($hm206);
}
.hm207 {
  @include ir2($hm207);
}
.hm208 {
  @include ir2($hm208);
}
.hm209 {
  @include ir2($hm209);
}
.hm210 {
  @include ir2($hm210);
}
.hm211 {
  @include ir2($hm211);
}
.hm212 {
  @include ir2($hm212);
}
.hm213 {
  @include ir2($hm213);
}
.hm214 {
  @include ir2($hm214);
}
.hm215 {
  @include ir2($hm215);
}
.hm216 {
  @include ir2($hm216);
}
.hm217 {
  @include ir2($hm217);
}
.hm218 {
  @include ir2($hm218);
}
.hm219 {
  @include ir2($hm219);
}
.hm220 {
  @include ir2($hm220);
}
.hm221 {
  @include ir2($hm221);
}
.hm222 {
  @include ir2($hm222);
}
.hm223 {
  @include ir2($hm223);
}
.hm224 {
  @include ir2($hm224);
}
.hm225 {
  @include ir2($hm225);
}
.hm226 {
  @include ir2($hm226);
}
.hm227 {
  @include ir2($hm227);
}
.hm228 {
  @include ir2($hm228);
}
.hm229 {
  @include ir2($hm229);
}
.hm230 {
  @include ir2($hm230);
}
.hm231 {
  @include ir2($hm231);
}
.hm232 {
  @include ir2($hm232);
}
.hm233 {
  @include ir2($hm233);
}
.hm234 {
  @include ir2($hm234);
}
.hm235 {
  @include ir2($hm235);
}
.hm236 {
  @include ir2($hm236);
}
.hm237 {
  @include ir2($hm237);
}
.hm238 {
  @include ir2($hm238);
}
.hm239 {
  @include ir2($hm239);
}
.hm240 {
  @include ir2($hm240);
}
.hm241 {
  @include ir2($hm241);
}
.hm242 {
  @include ir2($hm242);
}
.hm243 {
  @include ir2($hm243);
}
.hm244 {
  @include ir2($hm244);
}
.hm245 {
  @include ir2($hm245);
}
.hm246 {
  @include ir2($hm246);
}
.hm247 {
  @include ir2($hm247);
}
.hm248 {
  @include ir2($hm248);
}
.hm249 {
  @include ir2($hm249);
}
.hm250 {
  @include ir2($hm250);
}
.hm251 {
  @include ir2($hm251);
}
.hm252 {
  @include ir2($hm252);
}
.hm253 {
  @include ir2($hm253);
}
.hm254 {
  @include ir2($hm254);
}
.hm255 {
  @include ir2($hm255);
}
.hm256 {
  @include ir2($hm256);
}
.hm257 {
  @include ir2($hm257);
}
.hm258 {
  @include ir2($hm258);
}
.hm259 {
  @include ir2($hm259);
}
.hm260 {
  @include ir2($hm260);
}
.hm261 {
  @include ir2($hm261);
}
.hm262 {
  @include ir2($hm262);
}
.hm263 {
  @include ir2($hm263);
}
.hm264 {
  @include ir2($hm264);
}
.hm265 {
  @include ir2($hm265);
}
.hm266 {
  @include ir2($hm266);
}
.hm267 {
  @include ir2($hm267);
}
.hm268 {
  @include ir2($hm268);
}
.hm269 {
  @include ir2($hm269);
}
.hm270 {
  @include ir2($hm270);
}
.hm271 {
  @include ir2($hm271);
}
.hm272 {
  @include ir2($hm272);
}
.hm273 {
  @include ir2($hm273);
}
.hm274 {
  @include ir2($hm274);
}
.hm275 {
  @include ir2($hm275);
}
.hm276 {
  @include ir2($hm276);
}
.hm277 {
  @include ir2($hm277);
}
.hm278 {
  @include ir2($hm278);
}
.hm279 {
  @include ir2($hm279);
}
.hm280 {
  @include ir2($hm280);
}
.hm281 {
  @include ir2($hm281);
}
.hm282 {
  @include ir2($hm282);
}
.hm283 {
  @include ir2($hm283);
}
.hm284 {
  @include ir2($hm284);
}
.hm285 {
  @include ir2($hm285);
}
.hm286 {
  @include ir2($hm286);
}
.hm287 {
  @include ir2($hm287);
}
.hm288 {
  @include ir2($hm288);
}
.hm289 {
  @include ir2($hm289);
}
.hm290 {
  @include ir2($hm290);
}
.hm291 {
  @include ir2($hm291);
}
.hm292 {
  @include ir2($hm292);
}
.hm293 {
  @include ir2($hm293);
}
.hm295 {
  @include ir2($hm295);
}
.hm296 {
  @include ir2($hm296);
}
.hm297 {
  @include ir2($hm297);
}
.hm298 {
  @include ir2($hm298);
}
.hm299 {
  @include ir2($hm299);
}
.hm300 {
  @include ir2($hm300);
}

body {
  user-select: none;
}
// 국회의원 사진
.의원사진랩핑 {
  width: 45px;
  height: 45px;
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 100%;
  margin: 0 auto;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: solid 3px #000;
    box-sizing: border-box;
    z-index: 10;
    border-radius: 100%;
    background-clip: content-box;
    opacity: 0.6;
  }
}
.의원사진랩핑.더불어민주당::before {
  border-color: $더불어민주당;
}
.의원사진랩핑.국민의힘::before {
  border-color: $국민의힘;
}
.의원사진랩핑.무소속::before {
  border-color: $무소속;
}
.의원사진랩핑.정의당::before {
  border-color: $정의당;
}
.의원사진랩핑.열린민주당::before {
  border-color: $열린민주당;
}
.의원사진랩핑.더불어시민당::before {
  border-color: $더불어시민당;
}
.의원사진랩핑.시대전환::before {
  border-color: $시대전환;
}
.의원사진랩핑.기본소득당::before {
  border-color: $기본소득당;
}
.의원사진랩핑.국민의당::before {
  border-color: $국민의당;
}
.의원사진 {
  transform: scale(0.4);
  transform-origin: top left;
}
.headline .news-emoji {
  padding: 3px 5px;
  color: #000;
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
}
.hm294 {
  background-image: url("../imgs/kje.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 45px;
  height: 45px;
  display: block;
  transform: scale(1);
}
.layer-wrap {
  position: relative;
  display: inline-block;
}
.layer-wrap:hover {
  .layer {
    display: flex;
  }
  text-decoration: none;
}
.layer {
  position: absolute;
  width: 320px;
  padding: 10px;
  background-color: #fff;
  border: solid 1px #ccc;
  justify-content: space-between;
  z-index: 100;
  display: flex;
  display: none;
  border-radius: 5px;
  top: 20px;
  right: 0;
  a {
    width: 150px;
    display: block;
    text-decoration: none;
    color: #000;
  }
  img {
    width: 100%;
  }
  .str {
    display: block;
    font-size: 14px;

    @include ell(2);
    width: 150px;
  }
  .provider {
    display: block;
    font-size: 12px;
    padding-top: 5px;
    color: #888;
  }
}
.grid-paper {
  margin: 10px;
}
#chart {
  height: 500px;
}
// 필터바
#root {
  .filterbar {
    background-color: #efefef;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    box-shadow: none;
    text-align: right;
    .btn {
      font-size: 14px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 1px;
        height: 10px;
        display: block;
        background-color: #ccc;
        right: 0;
        top: 50%;
        margin-top: -5px;
      }
    }
    &.n0 button:nth-child(1),
    &.n1 button:nth-child(2),
    &.n2 button:nth-child(3) {
      font-weight: bold;
    }
    button:nth-child(3)::before {
      display: none;
    }
  }
}
#footer {
  a,
  span {
    font-size: 12px;
    vertical-align: middle;
    text-decoration: none;
    margin-right: 10px;
    color: #777;
  }
}
// 테이블
#detail {
  max-height: 500px;
  .HOVER:hover {
    z-index: 100;
    .tooltip {
      display: block;
    }
  }
  th span {
    word-break: keep-all;
    position: relative;
    .emo {
      position: absolute;
      top: -3px;
      .MuiSvgIcon-root {
        position: static;
        font-size: 17px;
        color: #888;
      }
    }

    .tooltip {
      position: absolute;
      top: 50px;
      background: #fff;
      display: none;
      border: solid 1px #000;
      padding: 5px 10px;
      font-size: 14px;
      white-space: nowrap;
      border-radius: 8px;
      background: rgba(0, 0, 0, 0.7);
      color: #fff;
    }
  }
  .MuiTableBody-root tr.active td,
  .MuiTableBody-root tr.active th {
    background-color: #fdecea;
  }
  .rank-wrap {
    position: relative;
    line-height: 1.3;
  }
  .special {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    font-size: 12px;
    padding: 3px;
    z-index: 50;
    white-space: nowrap;
  }
  .special + .rank {
    padding-top: 10px;
  }
  .special + .rank + .name {
    padding-bottom: 20px;
  }
  .MuiTable-root {
    min-width: 1300px;
  }
  .MuiTableCell-root {
    padding: 0;
    text-align: center;
  }
  .MuiTableCell-head.nth-0 span {
    min-width: 50px;
  }
  .MuiTableHead-root {
    position: relative;
    z-index: 1000;
  }
  th.rank span {
    min-width: 40px;
    font-size: 12px;
    letter-spacing: -1px;
  }
  td {
    text-align: center;
    cursor: pointer;
  }

  @for $i from 1 to 11 {
    .C0.R#{$i} {
      background-color: rgba(77, 173, 214, (10-$i) * 0.1);
    }
    .C1.R#{$i} {
      background-color: rgba(103, 148, 219, (10-$i) * 0.1);
    }
    .C2.R#{$i} {
      background-color: rgba(102, 113, 219, (10-$i) * 0.1);
    }
  }

  .MuiButtonBase-root {
    .MuiSvgIcon-root {
      position: absolute;
      top: 30px;
    }
  }
}
.tab-wrap {
  display: flex;
  .tab {
    width: 100%;
    position: relative;
    background-color: #4dadd6;
    color: #fff;
    border-radius: 0;
  }
  .tab.active::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #1c7ba4;
  }
  .tab:hover {
    background-color: #b5cbd4;
    color: #000;
  }

  .tab.n2 {
    background-color: #6794db;
  }
  .tab.n2.active::after {
    background-color: #1e4279;
  }
  .tab.n2:hover {
    background-color: #9fb5d9;
  }
  .tab.n3 {
    background-color: #6671db;
  }
  .tab.n3:hover {
    background-color: #8f95d5;
  }
  .tab.n3.active:after {
    background-color: #0012ff;
  }
  .tab.n4 {
    background-color: #aea0e0;
  }
  .tab.n4:hover {
    background-color: #b9b1d5;
  }
  .tab.n4.active::after {
    background-color: #6048b5;
  }
}
// 불출석모드
#dataType3 .출석,
#dataType0 .무단,
#dataType2 .불출석,
#dataType1 .청가 {
  background-color: #efefef;
}
#dataType3 tr:hover .출석,
#dataType0 tr:hover .무단,
#dataType2 tr:hover .불출석,
#dataType1 tr:hover .청가 {
  color: red;
}

.headline {
  margin: 0 auto 20px;
  width: 860px;
  background: url("../imgs//bg.png") no-repeat;
  background-size: 150px auto;
  padding: 50px 0 0 30px;
  background-position: -5px -10px;
  h1 {
    letter-spacing: -1px;
  }
  .parag {
    margin: 10px 0;
  }
  strong {
    letter-spacing: -0.05em;
    background: #bebebe96;
    color: #f62947;
    font-weight: bold;
    border-radius: 5px;
    padding: 1px 5px;
    font-weight: normal;
  }
}
.grid-paper {
  // cell
  .MuiTableSortLabel-root {
    padding: 15px 5px;
    min-width: 80px;
    line-height: 1.3;
    justify-content: center;
  }
  //테이블 필터별
  #상임위-타입,
  #본회의-타입 {
    min-width: inherit;
  }

  #all-타입 {
  }
  #본회의-타입 {
    thead th:nth-child(3) span,
    thead th:nth-child(1) span {
      cursor: default;
    }
    thead th:nth-child(3) svg,
    thead th:nth-child(1) svg {
      display: none;
    }
  }
  .MuiTableSortLabel-root,
  .MuiDataGrid-root .MuiDataGrid-colCell,
  .MuiDataGrid-root .MuiDataGrid-cell {
    text-align: center;
    font-size: 13px;
  }
  // thead
  .MuiDataGrid-root .MuiDataGrid-colCellTitle {
    font-size: 13px;
    letter-spacing: -0.05em;
  }
  .MuiDataGrid-root .MuiDataGrid-colCellTitle {
    width: 100%;
  }
  .MuiDataGrid-root .MuiDataGrid-colCell,
  .MuiDataGrid-root .MuiDataGrid-cell {
    padding: 0;
    .MuiDataGrid-colCellTitle {
      padding: 0 10px;
    }
  }
  .thumb-wrap {
    line-height: 1.5;
    text-align: center;
    padding: 5px 0;
    position: relative;
    .name {
    }
  }
  .MuiDataGrid-menuIcon {
    display: none !important;
  }
  .MuiDataGrid-colCellWrapper > div:first-child .MuiDataGrid-menuIcon {
    display: block !important;
  }
  .yellow,
  .green,
  .blue {
    width: 100%;
  }
  .yellow {
    background-color: #fcf3cbd5;
  }
  .green {
    background-color: #cbfcdfd5;
  }
  .blue {
    background-color: #cbe8fcd5;
  }

  // 출석율 퍼센트
  .rect-wrap {
    position: relative;
    width: 70px;
    margin: 0 auto;
    background-color: #666;
    .value {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 0;
      left: 0;
      line-height: 20px;
    }
    .value {
      color: #fff;
      font-size: 13px;
    }
    .per {
      height: 20px;
      background-color: red;
      display: block;
    }
    .per.더불어민주당 {
      background-color: $더불어민주당;
    }
    .per.국민의힘 {
      background-color: $국민의힘;
    }
    .per.무소속 {
      background-color: $무소속;
    }
    .per.정의당 {
      background-color: $정의당;
    }
    .per.열린민주당 {
      background-color: $열린민주당;
    }
    .per.더불어시민당 {
      background-color: $더불어시민당;
    }
    .per.시대전환 {
      background-color: $시대전환;
    }
    .per.기본소득당 {
      background-color: $기본소득당;
    }
    .per.국민의당 {
      background-color: $국민의당;
    }
  }
}
@media (max-width: 1600px) {
  .headline {
    width: 60%;
  }
  #detail .special {
    min-width: 120px;
  }
}
@media (max-width: 1400px) {
  .headline {
    width: 850px;
  }
}
@media (max-width: 1200px) {
  .headline {
    width: 70%;
  }
  .headline {
    background-size: 100px auto;
    padding: 40px 10px 0;
    background-position: -13px 0;
  }
  .headline {
    .news-emoji {
      display: block;
      margin-top: 5px;
    }
    .layer {
      left: 0;
      top: 25px;
    }
  }
}
@media (max-width: 800px) {
  .headline {
    .layer {
      right: inherit;
      left: 0;
      top: 35px;
    }
  }
}
@media (max-width: 500px) {
  .headline {
    width: 90%;
    h1 {
      font-size: 24px;
      margin: 10px 0;
    }
    .parag {
      font-size: 14px;
    }
    strong {
      font-size: 16px;
    }
  }
  // 테이블
  #detail #본회의-타입 {
    min-width: 500px;
  }
  #detail #상임위-타입 {
    min-width: 630px;
  }
  #detail #all-타입 {
    min-width: 1020px;
    thead th:nth-child(4) {
      width: 60px;
    }
    thead th:nth-child(7),
    thead th:nth-child(9),
    thead th:nth-child(5) {
      width: 40px;
    }
    thead th:nth-child(10) {
      width: 46px;
    }
    thead th:nth-child(17),
    thead th:nth-child(16),
    thead th:nth-child(15),
    thead th:nth-child(14),
    thead th:nth-child(13),
    thead th:nth-child(12),
    thead th:nth-child(11) {
      width: 70px;
    }
  }
  #detail .MuiTable-root {
    table-layout: fixed;
    thead th,
    thead th span {
      width: auto;
      min-width: auto;
    }
    /* thead th.nth-0 {
      width: 60px;
    }
    // 3줄수정
    thead th.nth-8 {
      width: 45px;
    }
    // 3줄수정
    thead th.nth-15 {
      width: 45px;
    } */
    .MuiButtonBase-root .MuiSvgIcon-root {
      top: inherit;
      bottom: 0;
    }
  }
  .grid-paper .MuiTableSortLabel-root {
    min-width: 60px;
    padding: 15px 0;
    font-size: 12px;
  }
  /*  .MuiTableCell-root.nth-2 .MuiTableSortLabel-root,
  .MuiTableCell-root.nth-6 .MuiTableSortLabel-root,
  .MuiTableCell-root.nth-9 .MuiTableSortLabel-root,
  .MuiTableCell-root.nth-11 .MuiTableSortLabel-root,
  .MuiTableCell-root.nth-13 .MuiTableSortLabel-root,
  .MuiTableCell-root.nth-4 .MuiTableSortLabel-root {
    width: 75px;
  }
  .MuiTableCell-root.nth-15 .MuiTableSortLabel-root,
  .MuiTableCell-root.nth-8 .MuiTableSortLabel-root {
    width: 90px;
  } */
  // 테이블 페이징
  .MuiTablePagination-spacer + .MuiTablePagination-caption {
    display: none;
  }
  .MuiTablePagination-root .MuiTablePagination-selectRoot {
    margin-right: 15px;
  }
  .MuiTablePagination-root .MuiTablePagination-actions {
    margin-left: 10px;
  }
  // 탭
  .tab-wrap {
    .MuiButton-textSizeLarge {
      padding: 10px 8px;
    }
    .MuiButton-label {
      font-size: 14px;
      line-height: 1.3;
    }
  }
  #root {
    margin-bottom: 60px;
  }
  // 알림
  #root .MuiAlert-root {
    padding-left: 6px;
    padding-right: 6px;
    .MuiAlert-icon {
      margin-right: 6px;
    }
    .MuiAlert-message {
      padding: 5px 0;
      font-size: 12px;
    }
  }
  .tab-wrap {
    .tab.n2 {
      min-width: 120px;
    }
  }
  #detail {
    .special {
      padding: 1px 3px;
    }
    .special + .rank {
      padding-top: 5px;
    }
    .special + .rank + .name {
      padding-bottom: 15px;
    }
  }
  .headline {
    .layer {
      right: -70px;
      left: inherit;
    }
  }
}
@media (max-width: 320px) {
  .headline {
    h1 {
      font-size: 18px;
      margin: 10px 0;
    }
    .parag {
      font-size: 12px;
    }
    strong {
      font-size: 14px;
    }
  }
  // 탭
  .tab-wrap {
    .MuiButton-textSizeLarge {
      padding: 8px 5px;
    }
    .MuiButton-label {
      font-size: 12px;
    }
  }
  .headline {
    .layer {
      width: 290px;
      right: -155px;
      left: inherit;
      a,
      .str {
        width: 140px;
      }
    }
  }
}
