@import "./sprite-p.scss";
@import "../../../../scss/fn.module.scss";
body {
  user-select: none;
}
// 국회의원 사진
.의원사진랩핑 {
  width: 45px;
  height: 45px;
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 100%;
  margin: 0 auto;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: solid 3px #000;
    box-sizing: border-box;
    z-index: 10;
    border-radius: 100%;
    background-clip: content-box;
    opacity: 0.6;
  }
}
.의원사진랩핑.더불어민주당::before {
  border-color: $더불어민주당;
}
.의원사진랩핑.국민의힘::before {
  border-color: $국민의힘;
}
.의원사진랩핑.무소속::before {
  border-color: $무소속;
}
.의원사진랩핑.정의당::before {
  border-color: $정의당;
}
.의원사진랩핑.열린민주당::before {
  border-color: $열린민주당;
}
.의원사진랩핑.더불어시민당::before {
  border-color: $더불어시민당;
}
.의원사진랩핑.시대전환::before {
  border-color: $시대전환;
}
.의원사진랩핑.기본소득당::before {
  border-color: $기본소득당;
}
.의원사진랩핑.국민의당::before {
  border-color: $국민의당;
}
.의원사진 {
  transform: scale(0.4);
  transform-origin: top left;
}
.headline .news-emoji {
  padding: 3px 5px;
  color: #000;
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
}
.hm294 {
  background-image: url("../imgs/kje.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 45px;
  height: 45px;
  display: block;
  transform: scale(1);
}
.layer-wrap {
  position: relative;
  display: inline-block;
}
.layer-wrap:hover {
  .layer {
    display: flex;
  }
  text-decoration: none;
}
.layer {
  position: absolute;
  width: 320px;
  padding: 10px;
  background-color: #fff;
  border: solid 1px #ccc;
  justify-content: space-between;
  z-index: 100;
  display: flex;
  display: none;
  border-radius: 5px;
  top: 20px;
  right: 0;
  a {
    width: 150px;
    display: block;
    text-decoration: none;
    color: #000;
  }
  img {
    width: 100%;
  }
  .str {
    display: block;
    font-size: 14px;

    @include ell(2);
    width: 150px;
  }
  .provider {
    display: block;
    font-size: 12px;
    padding-top: 5px;
    color: #888;
  }
}
.grid-paper {
  margin: 10px;
}
#chart {
  height: 500px;
}
// 필터바
#root {
  .filterbar {
    background-color: #efefef;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    box-shadow: none;
    text-align: right;
    .btn {
      font-size: 14px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 1px;
        height: 10px;
        display: block;
        background-color: #ccc;
        right: 0;
        top: 50%;
        margin-top: -5px;
      }
    }
    &.n0 button:nth-child(1),
    &.n1 button:nth-child(2),
    &.n2 button:nth-child(3) {
      font-weight: bold;
    }
    button:nth-child(3)::before {
      display: none;
    }
  }
}
#footer {
  a,
  span {
    font-size: 12px;
    vertical-align: middle;
    text-decoration: none;
    margin-right: 10px;
    color: #777;
  }
}
// 테이블
#detail {
  max-height: 500px;
  .HOVER:hover {
    z-index: 100;
    .tooltip {
      display: block;
    }
  }
  th span {
    word-break: keep-all;
    position: relative;
    .emo {
      position: absolute;
      top: -3px;
      .MuiSvgIcon-root {
        position: static;
        font-size: 17px;
        color: #888;
      }
    }

    .tooltip {
      position: absolute;
      top: 50px;
      background: #fff;
      display: none;
      border: solid 1px #000;
      padding: 5px 10px;
      font-size: 14px;
      white-space: nowrap;
      border-radius: 8px;
      background: rgba(0, 0, 0, 0.7);
      color: #fff;
    }
  }
  .MuiTableBody-root tr.active td,
  .MuiTableBody-root tr.active th {
    background-color: #fdecea;
  }
  .rank-wrap {
    position: relative;
    line-height: 1.3;
  }
  .special {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    font-size: 12px;
    padding: 3px;
    z-index: 50;
    white-space: nowrap;
  }
  .special + .rank {
    padding-top: 10px;
  }
  .special + .rank + .name {
    padding-bottom: 20px;
  }
  .MuiTable-root {
    min-width: 1300px;
  }
  .MuiTableCell-root {
    padding: 0;
    text-align: center;
  }
  .MuiTableCell-head.nth-0 span {
    min-width: 50px;
  }
  .MuiTableHead-root {
    position: relative;
    z-index: 1000;
  }
  th.rank span {
    min-width: 40px;
    font-size: 12px;
    letter-spacing: -1px;
  }
  td {
    text-align: center;
    cursor: pointer;
  }

  @for $i from 1 to 11 {
    .C0.R#{$i} {
      background-color: rgba(77, 173, 214, (10-$i) * 0.1);
    }
    .C1.R#{$i} {
      background-color: rgba(103, 148, 219, (10-$i) * 0.1);
    }
    .C2.R#{$i} {
      background-color: rgba(102, 113, 219, (10-$i) * 0.1);
    }
  }

  .MuiButtonBase-root {
    .MuiSvgIcon-root {
      position: absolute;
      top: 30px;
    }
  }
}
.tab-wrap {
  display: flex;
  .tab {
    width: 100%;
    position: relative;
    background-color: #4dadd6;
    color: #fff;
    border-radius: 0;
  }
  .tab.active::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #1c7ba4;
  }
  .tab:hover {
    background-color: #b5cbd4;
    color: #000;
  }

  .tab.n2 {
    background-color: #6794db;
  }
  .tab.n2.active::after {
    background-color: #1e4279;
  }
  .tab.n2:hover {
    background-color: #9fb5d9;
  }
  .tab.n3 {
    background-color: #6671db;
  }
  .tab.n3:hover {
    background-color: #8f95d5;
  }
  .tab.n3.active:after {
    background-color: #0012ff;
  }
  .tab.n4 {
    background-color: #aea0e0;
  }
  .tab.n4:hover {
    background-color: #b9b1d5;
  }
  .tab.n4.active::after {
    background-color: #6048b5;
  }
}
// 불출석모드
#dataType3 .출석,
#dataType0 .무단,
#dataType2 .불출석,
#dataType1 .청가 {
  background-color: #efefef;
}
#dataType3 tr:hover .출석,
#dataType0 tr:hover .무단,
#dataType2 tr:hover .불출석,
#dataType1 tr:hover .청가 {
  color: red;
}

.headline {
  margin: 0 auto 20px;
  width: 860px;
  background: url("../imgs//bg.png") no-repeat;
  background-size: 150px auto;
  padding: 50px 0 0 30px;
  background-position: -5px -10px;
  h1 {
    letter-spacing: -1px;
  }
  .parag {
    margin: 10px 0;
  }
  strong {
    letter-spacing: -0.05em;
    background: #bebebe96;
    color: #f62947;
    font-weight: bold;
    border-radius: 5px;
    padding: 1px 5px;
    font-weight: normal;
  }
}
.grid-paper {
  // cell
  .MuiTableSortLabel-root {
    padding: 15px 5px;
    min-width: 80px;
    line-height: 1.3;
    justify-content: center;
  }
  //테이블 필터별
  #상임위-타입,
  #본회의-타입 {
    min-width: inherit;
  }

  #all-타입 {
  }
  #본회의-타입 {
    thead th:nth-child(3) span,
    thead th:nth-child(1) span {
      cursor: default;
    }
    thead th:nth-child(3) svg,
    thead th:nth-child(1) svg {
      display: none;
    }
  }
  .MuiTableSortLabel-root,
  .MuiDataGrid-root .MuiDataGrid-colCell,
  .MuiDataGrid-root .MuiDataGrid-cell {
    text-align: center;
    font-size: 13px;
  }
  // thead
  .MuiDataGrid-root .MuiDataGrid-colCellTitle {
    font-size: 13px;
    letter-spacing: -0.05em;
  }
  .MuiDataGrid-root .MuiDataGrid-colCellTitle {
    width: 100%;
  }
  .MuiDataGrid-root .MuiDataGrid-colCell,
  .MuiDataGrid-root .MuiDataGrid-cell {
    padding: 0;
    .MuiDataGrid-colCellTitle {
      padding: 0 10px;
    }
  }
  .thumb-wrap {
    line-height: 1.5;
    text-align: center;
    padding: 5px 0;
    position: relative;
    .name {
    }
  }
  .MuiDataGrid-menuIcon {
    display: none !important;
  }
  .MuiDataGrid-colCellWrapper > div:first-child .MuiDataGrid-menuIcon {
    display: block !important;
  }
  .yellow,
  .green,
  .blue {
    width: 100%;
  }
  .yellow {
    background-color: #fcf3cbd5;
  }
  .green {
    background-color: #cbfcdfd5;
  }
  .blue {
    background-color: #cbe8fcd5;
  }

  // 출석율 퍼센트
  .rect-wrap {
    position: relative;
    width: 70px;
    margin: 0 auto;
    background-color: #666;
    .value {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 0;
      left: 0;
      line-height: 20px;
    }
    .value {
      color: #fff;
      font-size: 13px;
    }
    .per {
      height: 20px;
      background-color: red;
      display: block;
    }
    .per.더불어민주당 {
      background-color: $더불어민주당;
    }
    .per.국민의힘 {
      background-color: $국민의힘;
    }
    .per.무소속 {
      background-color: $무소속;
    }
    .per.정의당 {
      background-color: $정의당;
    }
    .per.열린민주당 {
      background-color: $열린민주당;
    }
    .per.더불어시민당 {
      background-color: $더불어시민당;
    }
    .per.시대전환 {
      background-color: $시대전환;
    }
    .per.기본소득당 {
      background-color: $기본소득당;
    }
    .per.국민의당 {
      background-color: $국민의당;
    }
  }
}
@media (max-width: 1600px) {
  .headline {
    width: 60%;
  }
  #detail .special {
    min-width: 120px;
  }
}
@media (max-width: 1400px) {
  .headline {
    width: 850px;
  }
}
@media (max-width: 1200px) {
  .headline {
    width: 70%;
  }
  .headline {
    background-size: 100px auto;
    padding: 40px 10px 0;
    background-position: -13px 0;
  }
  .headline {
    .news-emoji {
      display: block;
      margin-top: 5px;
    }
    .layer {
      left: 0;
      top: 25px;
    }
  }
}
@media (max-width: 800px) {
  .headline {
    .layer {
      right: inherit;
      left: 0;
      top: 35px;
    }
  }
}
@media (max-width: 500px) {
  .headline {
    width: 90%;
    h1 {
      font-size: 24px;
      margin: 10px 0;
    }
    .parag {
      font-size: 14px;
    }
    strong {
      font-size: 16px;
    }
  }
  // 테이블
  #detail #본회의-타입 {
    min-width: 500px;
  }
  #detail #상임위-타입 {
    min-width: 630px;
  }
  #detail #all-타입 {
    min-width: 1020px;
    thead th:nth-child(4) {
      width: 60px;
    }
    thead th:nth-child(7),
    thead th:nth-child(9),
    thead th:nth-child(5) {
      width: 40px;
    }
    thead th:nth-child(10) {
      width: 46px;
    }
    thead th:nth-child(17),
    thead th:nth-child(16),
    thead th:nth-child(15),
    thead th:nth-child(14),
    thead th:nth-child(13),
    thead th:nth-child(12),
    thead th:nth-child(11) {
      width: 70px;
    }
  }
  #detail .MuiTable-root {
    table-layout: fixed;
    thead th,
    thead th span {
      width: auto;
      min-width: auto;
    }
    /* thead th.nth-0 {
      width: 60px;
    }
    // 3줄수정
    thead th.nth-8 {
      width: 45px;
    }
    // 3줄수정
    thead th.nth-15 {
      width: 45px;
    } */
    .MuiButtonBase-root .MuiSvgIcon-root {
      top: inherit;
      bottom: 0;
    }
  }
  .grid-paper .MuiTableSortLabel-root {
    min-width: 60px;
    padding: 15px 0;
    font-size: 12px;
  }
  /*  .MuiTableCell-root.nth-2 .MuiTableSortLabel-root,
  .MuiTableCell-root.nth-6 .MuiTableSortLabel-root,
  .MuiTableCell-root.nth-9 .MuiTableSortLabel-root,
  .MuiTableCell-root.nth-11 .MuiTableSortLabel-root,
  .MuiTableCell-root.nth-13 .MuiTableSortLabel-root,
  .MuiTableCell-root.nth-4 .MuiTableSortLabel-root {
    width: 75px;
  }
  .MuiTableCell-root.nth-15 .MuiTableSortLabel-root,
  .MuiTableCell-root.nth-8 .MuiTableSortLabel-root {
    width: 90px;
  } */
  // 테이블 페이징
  .MuiTablePagination-spacer + .MuiTablePagination-caption {
    display: none;
  }
  .MuiTablePagination-root .MuiTablePagination-selectRoot {
    margin-right: 15px;
  }
  .MuiTablePagination-root .MuiTablePagination-actions {
    margin-left: 10px;
  }
  // 탭
  .tab-wrap {
    .MuiButton-textSizeLarge {
      padding: 10px 8px;
    }
    .MuiButton-label {
      font-size: 14px;
      line-height: 1.3;
    }
  }
  #root {
    margin-bottom: 60px;
  }
  // 알림
  #root .MuiAlert-root {
    padding-left: 6px;
    padding-right: 6px;
    .MuiAlert-icon {
      margin-right: 6px;
    }
    .MuiAlert-message {
      padding: 5px 0;
      font-size: 12px;
    }
  }
  .tab-wrap {
    .tab.n2 {
      min-width: 120px;
    }
  }
  #detail {
    .special {
      padding: 1px 3px;
    }
    .special + .rank {
      padding-top: 5px;
    }
    .special + .rank + .name {
      padding-bottom: 15px;
    }
  }
  .headline {
    .layer {
      right: -70px;
      left: inherit;
    }
  }
}
@media (max-width: 320px) {
  .headline {
    h1 {
      font-size: 18px;
      margin: 10px 0;
    }
    .parag {
      font-size: 12px;
    }
    strong {
      font-size: 14px;
    }
  }
  // 탭
  .tab-wrap {
    .MuiButton-textSizeLarge {
      padding: 8px 5px;
    }
    .MuiButton-label {
      font-size: 12px;
    }
  }
  .headline {
    .layer {
      width: 290px;
      right: -155px;
      left: inherit;
      a,
      .str {
        width: 140px;
      }
    }
  }
}
