html,
body,
#root,
#home,
.scrollContent,
.scrollContent .items,
.App,
.App > div {
  height: 100%;
}
#home.none {
  touch-action: none;
}
// scrollContent
.scrollContent .items {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  &.scence1 {
    background: url(https://scrollmagic.io/assets/img/example_parallax_bg2.png);
    color: #fff;
  }
  // &.scence1::before {
  //   content: "";
  //   display: block;
  //   width: 100%;
  //   position: absolute;
  //   height: 100%;
  //   background: #000;
  //   opacity: 0.6;
  // }
  &.scence2 {
    background: url(https://scrollmagic.io/assets/img/example_parallax_bg1.png);
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .my-video-dimensions {
      width: 100%;
      height: 100%;
    }
    .storyWrap {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      display: flex;
      align-items: center;
      z-index: 10;
      justify-content: center;
      color: #fff;
      .s1.active {
        opacity: 1;
      }
    }
  }
  &.scence3 {
    background: url(https://scrollmagic.io/assets/img/example_parallax_bg2.png);
    .pre {
      width: 60%;
      position: relative;
      top: -10%;
    }
  }
  &.scence5 {
    background: #000;
    z-index: 10;
    .chartWrap {
      width: 100%;
      height: 100%;
      #chartdiv3 {
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          z-index: 2;
        }
      }
    }
    #sideBottom3 {
      height: 100%;
      #linechart3,
      #playBtn3 {
        display: none;
      }
      svg,
      .tit {
        font-size: 20px;
      }
      .time-title-wrap {
        top: inherit;
        bottom: 20px;
      }
    }

    .storyWrap {
      position: absolute;
      top: inherit;
      .story-items {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        padding: 0 20px;
        color: #fff;
        z-index: 30;
      }
      .s3,
      .s1,
      .s2 {
        transform: translate(0, 700px);
        transition: all 1s;
      }
      .s3.on,
      .s2.on,
      .s1.on {
        opacity: 1;
        transform: translate(0, 0);
      }
    }
  }
  &.scence6 {
    background: url(https://scrollmagic.io/assets/img/example_parallax_bg1.png);
  }
  &.scence7 {
    background: #333;
  }
  &.scence7.pc {
    z-index: 10;
    background-color: #000;
    .storyWrap {
      position: absolute;
      top: inherit;
      .story-items {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        padding: 0 20px;
        color: #fff;
        z-index: 30;
      }
      .s3,
      .s1,
      .s2 {
        transform: translate(0, 700px);
        transition: all 1s;
      }
      .s3.on,
      .s2.on,
      .s1.on {
        opacity: 1;
        transform: translate(0, 0);
      }
    }
  }
}
.amcharts-ZoomControl-group{
  display: none
}
#mainMapContents{
  overflow: hidden;
  .chartWrap{
    width: 100%;
  }
  #sideBottom{
    display: none;
  }
  .amcharts-ZoomControl-group{
    display: block
  }
}
// scence7
#scence7 {
  .text {
    position: absolute;
    color: #fff;
    font-size: 18px;
    opacity: 0;
    z-index: 3;
    transition: all 1s;
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border: solid 1px #444;
    border-radius: 5px;
  }
}

// GRID
.bl-main {
  position: absolute;
  width: 100%;
  height: 100%;
  section {
    position: absolute;
    width: 33.3%;
    height: 50%;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }

  section:nth-child(5),
  section:nth-child(2) {
    left: 33.3%;
  }
  section:nth-child(6),
  section:nth-child(3) {
    right: 0;
  }
  section:nth-child(4),
  section:nth-child(5),
  section:nth-child(6) {
    bottom: 0;
  }
  .bl-content {
    position: absolute;
    width: 100%;
    display: flex;
    height: 100%;
    opacity: 0;
    transition: opacity 0.1s linear 0.1s;
  }
  .bl-box {
    transition: opacity 0.2s linear 0.5s;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
// GRID 펼쳐짐
.bl-main.bl-expand-item {
  z-index: 13;
}
.bl-main.bl-expand-item > section:not(.bl-expand),
.bl-main.bl-expand-item > .bl-scale-down {
  transform: scale(0.5);
  opacity: 0;
}

.bl-main > .bl-expand {
  width: 100%;
  height: 100%;
  z-index: 100;
}
#bl-main .bl-content.active {
  opacity: 1;
}
.bl-main > section.bl-expand:nth-child(2),
.bl-main > section.bl-expand:nth-child(5) {
  left: 0;
}

// feature
.building {
  width: 500px;
  height: 500px;
  /* > svg > g > g {
    &:first-child {
      g:nth-child(1) path {
        fill: #666;
      }
      g:nth-child(2) path {
        fill: #666;
      }
      g:nth-child(3) path {
        fill: #777;
      }
      g:nth-child(4) path {
        fill: #999;
      }
      g:nth-child(5) path {
        fill: #aaa;
      }
      g:nth-child(6) path {
        fill: #ccc;
      }
      g:nth-child(8) path {
        fill: #ccc;
      }
    }
    &:nth-child(2) {
      path {
        fill: #555;
      }
    } 
  }*/
}

// 스크롤매직 장면 공통 클래스
.scrollmagic-pin-spacer {
  background: #333;
}
.storyWrap {
  position: relative;
  width: 100%;
  top: -8%;
}
.story {
  position: relative;
  z-index: 3;
  padding: 15px;
  font-size: 18px;
  line-height: 1.5;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.6);
  border: solid 1px #666;
  transition: all 0.3s;
  opacity: 0;
  &.active {
    opacity: 1;
  }
  .강조 {
    color: #ff5858;
  }
  .강조2 {
    color: #e6eb56;
  }
  .gosi {
    font-size: 14px;
    font-weight: 300;
  }
}
// 장면
#scence1 {
  #homeSceen1 {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &.complete {
      .title {
        opacity: 1;
      }
    }
    .title {
      font-size: 40px;
      position: absolute;
      color: #000;
      transition: opacity 0.3s linear;
      font-weight: bold;
      opacity: 0;
      top: 40px;
      white-space: nowrap;
    }
    &.play .title {
      //opacity: 1;
    }
  }
  .sh-bg {
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: all 1s;
    &.active {
      opacity: 1;
    }
  }
  .house {
    position: absolute;
    z-index: 3;
    height: 100%;
    width: 100%;
    background: url("../imgs/house.png") no-repeat center center;
    background-size: auto 80%;
    opacity: 0;
    transition: all 1s;
    transform: translate(0px, -10px);
    .link {
      max-width: 260px;
      height: 63%;
      top: 17%;
      position: relative;
      margin: 0 auto;
      cursor: pointer;
      .hClick {
        position: absolute;
        right: 0;
        left: 0;
      }
    }
    &.active {
      opacity: 1;
      transform: translate(0px, 0);
    }
  }
  .story-items {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 20px;
  }
  .shLt,
  .shRb {
    width: 300px;
    font-size: 0;
    position: absolute;
  }
  .shLt {
    left: 0;
    top: 0;
  }
  .shRb {
    width: 200px;
    right: 0;
    bottom: 0;
  }
}
// VIDEO
.vjs-loading-spinner,
.vjs-big-play-button,
.vjs-control-bar,
.vjs-hidden {
  display: none;
}
// amchar로고 히든
g[style="cursor: pointer;"] {
  //opacity: 0;
}
g[role="slider"] g:first-child {
  transform: scale(1.4);
  transform-origin: 50px 31px;
  path {
    transition: opacity 1s;
    opacity: 0;
  }
}
g[role="slider"] g:nth-child(2) {
  display: none;
}

#lottieCircle {
  display: flex;
  max-width: 1200px;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  z-index: 2;
  .lt-items {
    width: 80px;
    height: 80px;
    margin: 10px;
    path {
      transition: all 1s;
      stroke: #444;
    }
  }
  .lt-items2 {
    width: 80px;
    height: 80px;
    margin: 10px;
  }
}
#lottieCircle.소유,
#lottieCircle.압류또는가압류 {
  .lt-items.가압류 {
    svg > g > g:nth-child(1) path {
      stroke: rgb(113, 0, 243);
    }
    svg > g > g:nth-child(2) path {
      stroke: dodgerblue;
    }
    svg > g > g:nth-child(3) path {
      stroke: deeppink;
    }
  }
}
#lottieCircle.소유,
#lottieCircle.압류또는가압류 {
  .lt-items.압류 {
    svg > g > g:nth-child(1) path {
      stroke: rgba(0, 243, 150, 0.726);
    }
    svg > g > g:nth-child(2) path {
      stroke: dodgerblue;
    }
    svg > g > g:nth-child(3) path {
      stroke: rgb(202, 247, 4);
    }
  }
}
#lottieCircle.소유,
#lottieCircle.강제경매개시결정 {
  .lt-items.강제경매개시결정 {
    svg > g > g:nth-child(1) path {
      stroke: rgb(243, 0, 81);
    }
    svg > g > g:nth-child(2) path {
      stroke: rgb(255, 165, 30);
    }
    svg > g > g:nth-child(3) path {
      stroke: deeppink;
    }
  }
}
#lottieCircle.소유,
#lottieCircle.신탁 {
  .lt-items.신탁 {
    svg > g > g:nth-child(1) path {
      stroke: rgb(143, 77, 99);
    }
    svg > g > g:nth-child(2) path {
      stroke: rgb(126, 173, 148);
    }
    svg > g > g:nth-child(3) path {
      stroke: rgb(20, 36, 255);
    }
  }
}
// 카운트애니
.utilWrap {
  position: absolute;
  right: 10px;
  bottom: -40px;
  button {
    position: absolute;
    left: -999em;
  }
  .countWrap {
    .count {
      font-size: 20px;
      color: #fff;
      font-weight: 300;
      span {
        font-weight: bold;
        font-size: 40px;
      }
    }
  }
}
.lottieWrap {
  position: relative;
  z-index: 2;
}
.linkto {
  width: 100px;
  position: fixed;
  right: 10px;
  top: 50px;
  z-index: 10;
  .MuiButton-label {
    display: flex;
    flex-direction: column;
  }
  .str {
    font-size: 12px;
    color: #fff;
    letter-spacing: -1px;
    position: absolute;
    top: 50%;
    height: 30px;
    margin-top: 18px;
    text-shadow: 1px 1px 3px #000;
  }
}
//
.mapAni {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
  top: 200px;
  perspective: 400px;
  perspective-origin: 50% 50%;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 50px;
    background: linear-gradient(180deg, #333, transparent);
    left: 0;
    top: 290px;
    z-index: 10;
  }
  .bg {
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    position: relative;
    width: 100%;
    height: 600px;
  }
  .feature {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: rotateX(-90deg) translateZ(100px);
  }
  svg {
    transform: scale(2) !important;
    * {
      fill-opacity: 0;
      stroke: #666;
    }
  }
}
// Logo
#mbc {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
  font-size: 0;
  width: 80px;
  img {
    display: block;
    width: 100%;
  }
}
// 시간표시레이어
#sideBottom .time-title-wrap .tit {
  font-size: 20px;
  svg {
    font-size: 20px;
  }
}
.time-title-wrap {
  position: absolute;
  left: 10px;
  top: -50px;
  z-index: 10;
  color: #fff;
  opacity: 0;
  transition: all 3s;
  &.active {
    opacity: 1;
  }
  .tit {
    display: flex;
    align-items: center;

    font-weight: 300;
    svg {
      margin-right: 5px;
    }
  }
  .time {
    display: flex;
    align-items: center;
  }
  #currentDate {
    font-size: 24px;
    margin-left: 20px;
  }
}
// 모달팝업
[role="presentation"] {
  .contents {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    height: 80%;
    padding: 10px;
    margin: 10% 5%;
    box-sizing: border-box;
    position: relative;
  }
  .swiper-slide {
    overflow: auto;
  }
  .contWtap {
    max-height: 500px;
    overflow: auto;
  }
  .ani {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 2;
    margin: -100px 0 0 -100px;
  }
  .close {
    position: absolute;
    right: -22px;
    top: -22px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 100%;
    .MuiIconButton-label {
      color: #000;
    }
  }
}
.map-contents{
  padding: 0 8px;
  overflow: auto;



  .month{
    display: flex;    
    > div{
      width: 27px;
      font-size: 11px;
      text-align: center;
      font-weight: 200;
      height: 30px;
      line-height: 30px;
    }
  }
  .tit-year{
    position: absolute;
    font-size: 13px;
    font-weight: 300;
    left: 0;
    margin-top: 6px;
  }
  .tit{
    margin: 30px 0 10px;
    font-size: 20px;
    font-weight: normal;
  }
  .time-rec,
  .month{
    padding-left: 30px;
  }
  .time-rec{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    .wrap-cont{
      
    }
      .tit-year + .date-buy-items{
    //margin-bottom: 20px
  }
    .date-buy-items{
      display: flex;
      margin: 1px 1px 0 0;
      flex-direction: column;
      align-items: center;
      line-height: 1;
      justify-content: center;
      background: rgba(255,255,255,.3);
      width: 26px;
      height: 26px;
      font-size: 13px;
      overflow: hidden;
      
    }
    .date-buy-items.v1{
       background: rgba(226, 187, 135, 0.3)
     }    
     .date-buy-items.v3,
    .date-buy-items.v2{
       background: rgba(226, 187, 135, 0.4)
     }    
     
     .date-buy-items.v6,
.date-buy-items.v5,
.date-buy-items.v4{
       background: rgba(226, 187, 135, 0.5)
     }    
.date-buy-items.v11,
.date-buy-items.v14,
.date-buy-items.v13,
.date-buy-items.v17,
.date-buy-items.v10{
       background: rgba(226, 187, 135, 0.6)
     }    
.date-buy-items.v19,
.date-buy-items.v21,
.date-buy-items.v22,
.date-buy-items.v28,
.date-buy-items.v27,
.date-buy-items.v24{
       background: rgba(245, 147, 55, 0.6)
     }        
     .date-buy-items.v29,
     .date-buy-items.v36,
     .date-buy-items.v37,
     .date-buy-items.v35{
       background: rgba(224, 101, 20, 0.6)
     }       
          .date-buy-items.v41,
     .date-buy-items.v45,
     .date-buy-items.v49{
       background: rgba(224, 44, 20, 0.6)
     }        
          .date-buy-items.v65{
       background: rgba(255, 30, 0, 0.6)
     }        
    .date{
      font-size: 11px;
    }
  }
  .year-wrap{
    margin: 10px 0
  }
  .year{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    .x-y{
      font-size: 12px;
      font-weight: 300;
      margin-top: 3px
    }
    .x-c{
      background: rgba(255,255,255,.4);
      font-size: 14px;
      text-align: center;      
      padding: 8px 0;
    }
    .r24,
    .r27{
      background-color: rgba(243, 186, 0, 0.726)
    }
    .r321{
      background-color: rgba(243, 0, 0, 0.726)
    }
    .r271{
      background-color: rgba(243, 69, 0, 0.726)
    }
  }

  .chip-wrap{
    margin: 30px 0 10px;
    .MuiChip-root{
      margin-right: 5px;
    }
    .MuiChip-label{
      line-height: 1;
    }    
  }
  .parag{
    margin: 15px 0;
  }
  .list{
    display: flex;
    font-size: 14px;
    font-weight: 300;
    transition: all 1s;
    .addr{
      padding: 5px 0;
      width: 100%
    }
    .count{
      width: 100px;
      padding: 5px 10px;   
      text-align: right; 
    }
  }
}
@media (max-width: 500px) {
  // 모달팝업
  [role="presentation"] {
    .contents {
      height: 80%;
      margin: 20% 5%;
    }
  }
  .scrollmagic-pin-spacer {
    z-index: -1;
  }
  #scence2 + .scrollmagic-pin-spacer {
    z-index: 1;
  }
  #scence2,
  #scence6,
  #scence7 {
    z-index: 2;
  }

  .mstory {
    position: fixed;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.8);
    left: 0;
    height: 40px;
    bottom: -40px;
    width: 100%;
    transition: all 1s;
    &.active {
      bottom: 0;
    }
    .MuiButtonBase-root {
      width: 100%;
      height: 40px;

      .MuiButton-label {
        svg {
          margin-right: 10px;
        }
        font-weight: bold;
        font-size: 14px;
        letter-spacing: -0.05em;
      }
    }
  }
  .story {
    font-size: 14px;
    color: #fff;
    font-weight: normal;
  }
  .scrollContent .items.scence2 .story-items {
    padding: 0 10px;
  }

  #test {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10;
    left: 0;
    bottom: 30%;
    z-index: 999;
    padding: 20px;
  }
  #mobile-text {
    position: fixed;
    left: 0;
    bottom: 10px;
    z-index: 3;
    width: 100%;
    transition: all 1s;
    &.sceen1.active {
      bottom: 50px;
    }

    .story-items {
      position: absolute;
      padding: 10px;
      bottom: 0;
      box-sizing: border-box;
    }
    .story {
      &.active {
        opacity: 0 !important;
      }
    }
  }
  .storyWrap {
    display: none;
  }
  .linkto {
    right: 0;
    top: 0;
  }
  // 당신의~
  #scence1 {
    #homeSceen1 {
      .title {
        font-size: 24px;
        position: relative;
      }
    }
    .house {
      background-size: auto 60%;
    }

    .shLt {
      width: 200px;
    }
    .shRb {
      width: 100px;
    }
  }
  #scence7 {
    .text {
      display: none;
    }
  }
  .building {
    width: 250px;
    height: 250px;
  }

  #lottieCircle {
    .lt-items {
      width: 40px;
      height: 40px;
      margin: 5px;
      path {
        stroke: #777;
      }
    }
  }
  .mapAni {
    bottom: inherit;
    top: 25%;
    &::before {
      height: 10px;
      top: 10px;
    }

    svg {
      transform: scale(1) !important;
      * {
        fill-opacity: 0;
        stroke: #777;
      }
    }
  }



  #mbc{
    right: inherit;
    left: 10px;
    top: inherit;
    bottom:10px;
    opacity: 0.8;
    width: 50px;
  }
  #detailNav{
    width: 100%;
  }
  #detail{
    display: block;
    overflow: hidden;
    .map-contents{
      padding:0;
      height: 100%;
    }
  }
  #detail .contents{
    position: relative;
    width: auto;
    margin: 10px;
    z-index: 2;
    height: 83%;
    border-radius: 8px;
    padding: 0;
    box-sizing: border-box;
    margin-top: 57px;
    overflow: auto;
    background: none;
    //border:solid 1px #000;
    //background: rgba(0,0,0,.5);
    .swiper-container{
      height: 100%;
    }
    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    #list-wrap{
      height: 80%;
      overflow: auto;      
    }
  }
  #root #detail .chartWrap{
    position: fixed;
    width: 100%;
    top: 0;
  }
}
