html,
body,
#root,
#home,
.scrollContent,
.scrollContent .items,
.App,
.App > div {
  height: 100%;
}

// scrollContent
.scrollContent .items {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  &.scence1 {
    background: url(https://apps.bostonglobe.com/magazine/graphics/2019/01/17/valedictorians/assets/images/landingcover_1200.jpg)
      #000;
    color: #fff;
  }
  &.scence1::before {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    height: 100%;
    background: #000;
    opacity: 0.6;
  }
  &.scence2 {
    background: url(https://scrollmagic.io/assets/img/example_parallax_bg1.png);
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .my-video-dimensions {
      width: 100%;
      height: 100%;
    }
  }
  &.scence3 {
    background: url(https://scrollmagic.io/assets/img/example_parallax_bg2.png);
    .pre {
      width: 60%;
      position: relative;
      top: -10%;
    }
  }
  &.scence5 {
    background: #000;
  }
  &.scence6 {
    background: url(https://scrollmagic.io/assets/img/example_parallax_bg1.png);
  }
  &.scence7 {
    background: #333;
  }
}

// scence7
#scence7 {
  .text {
    position: absolute;
    color: #fff;
    font-size: 30px;
    max-width: 600px;
    opacity: 0;
    z-index: 3;
    transition: all 1s;
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border: solid 1px #444;
    border-radius: 5px;
  }
}

// GRID
.bl-main {
  position: absolute;
  width: 100%;
  height: 100%;
  section {
    position: absolute;
    width: 33.3%;
    height: 50%;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }

  section:nth-child(5),
  section:nth-child(2) {
    left: 33.3%;
  }
  section:nth-child(6),
  section:nth-child(3) {
    right: 0;
  }
  section:nth-child(4),
  section:nth-child(5),
  section:nth-child(6) {
    bottom: 0;
  }
  .bl-content {
    position: absolute;
    width: 100%;
    display: flex;
    height: 100%;
    opacity: 0;
    transition: opacity 0.1s linear 0.1s;
  }
  .bl-box {
    transition: opacity 0.2s linear 0.5s;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
// GRID 펼쳐짐
.bl-main.bl-expand-item {
  z-index: 13;
}
.bl-main.bl-expand-item > section:not(.bl-expand),
.bl-main.bl-expand-item > .bl-scale-down {
  transform: scale(0.5);
  opacity: 0;
}

.bl-main > .bl-expand {
  width: 100%;
  height: 100%;
  z-index: 100;
}
#bl-main .bl-content.active {
  opacity: 1;
}
.bl-main > section.bl-expand:nth-child(2),
.bl-main > section.bl-expand:nth-child(5) {
  left: 0;
}

// feature
.building {
  > svg > g > g {
    &:first-child {
      g:nth-child(1) path {
        fill: #666;
      }
      g:nth-child(2) path {
        fill: #666;
      }
      g:nth-child(3) path {
        fill: #777;
      }
      g:nth-child(4) path {
        fill: #999;
      }
      g:nth-child(5) path {
        fill: #aaa;
      }
      g:nth-child(6) path {
        fill: #ccc;
      }
      g:nth-child(8) path {
        fill: #ccc;
      }
    }
    &:nth-child(2) {
      path {
        fill: #555;
      }
    }
  }
}
// 스크롤매직 장면 공통 클래스
.scrollmagic-pin-spacer {
  background: #333;
}
// 장면
#scence1 {
  #homeSceen1 {
    position: relative;
    //z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &.complete {
      .title {
        opacity: 1;
      }
    }
    .title {
      font-size: 30px;
      color: #fff;
      transition: opacity 0.3s linear;
      opacity: 0;
    }
    &.play .title {
      //opacity: 1;
    }
  }
}
// VIDEO
.vjs-loading-spinner,
.vjs-big-play-button,
.vjs-control-bar,
.vjs-hidden {
  display: none;
}
// amchar로고 히든
g[style="cursor: pointer;"] {
  //opacity: 0;
}
g[role="slider"] g:first-child {
  transform: scale(1.4);
  transform-origin: 50px 45%;
  path {
    transition: opacity 1s;
    opacity: 0;
  }
}
g[role="slider"] g:nth-child(2) {
  display: none;
}

#lottieCircle {
  display: flex;
  max-width: 1200px;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  z-index: 2;
  .lt-items {
    width: 80px;
    height: 80px;
    margin: 10px;
    path {
      transition: all 1s;
      stroke: #444;
    }
  }
  .lt-items2 {
    width: 80px;
    height: 80px;
    margin: 10px;
  }
}
#lottieCircle.압류또는가압류 {
  .lt-items.가압류 {
    svg > g > g:nth-child(1) path {
      stroke: rgb(113, 0, 243);
    }
    svg > g > g:nth-child(2) path {
      stroke: dodgerblue;
    }
    svg > g > g:nth-child(3) path {
      stroke: deeppink;
    }
  }
}
#lottieCircle.압류또는가압류 {
  .lt-items.압류 {
    svg > g > g:nth-child(1) path {
      stroke: rgba(0, 243, 150, 0.726);
    }
    svg > g > g:nth-child(2) path {
      stroke: dodgerblue;
    }
    svg > g > g:nth-child(3) path {
      stroke: rgb(202, 247, 4);
    }
  }
}
#lottieCircle.강제경매개시결정 {
  .lt-items.강제경매개시결정 {
    svg > g > g:nth-child(1) path {
      stroke: rgb(243, 0, 81);
    }
    svg > g > g:nth-child(2) path {
      stroke: rgb(255, 165, 30);
    }
    svg > g > g:nth-child(3) path {
      stroke: deeppink;
    }
  }
}

// 카운트애니
.utilWrap {
  position: absolute;
  right: 10px;
  bottom: -40px;
  button {
    position: absolute;
    left: -999em;
  }
  .countWrap {
    .count {
      font-size: 30px;
      color: #fff;
    }
  }
}
.lottieWrap {
  position: relative;
  z-index: 2;
}
.linkto {
  width: 100px;
  position: absolute;
  right: 10px;
  top: 50px;
  .MuiButton-label {
    display: flex;
    flex-direction: column;
  }
  .str {
    font-size: 16px;
    color: #999;
    letter-spacing: -1px;
    position: relative;
    top: -7px;
  }
}
//
.mapAni {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
  top: 200px;
  perspective: 400px;
  perspective-origin: 50% 50%;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 50px;
    background: linear-gradient(180deg, #333, transparent);
    left: 0;
    top: 290px;
    z-index: 10;
  }
  .bg {
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    position: relative;
    width: 100%;
    height: 600px;
  }
  .feature {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: rotateX(-90deg) translateZ(100px);
  }
  svg {
    transform: scale(2) !important;
    * {
      fill-opacity: 0;
      stroke: #666;
    }
  }
}

@media (max-width: 500px) {
  #lottieCircle {
    .lt-items {
      width: 40px;
      height: 40px;
      margin: 5px;
      path {
        stroke: #777;
      }
    }
  }
  .mapAni {
    bottom: inherit;
    top: 25%;
    &::before {
      height: 10px;
      top: 10px;
    }

    svg {
      transform: scale(1) !important;
      * {
        fill-opacity: 0;
        stroke: #777;
      }
    }
  }
}
